/**=====================
     2.2 typography CSS
==========================**/
body {
    font-family: $metropolis;
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    color: rgba(var(--title-color), 1);
    background-color: rgba(var(--white), 1);
    box-shadow: 0px 1px 3px 4px rgba(var(--dark-bg), 0.06);


    &.lato-font {
        font-family: $lato;
    }

    &.nunito-font {
        font-family: $nunito;
    }

    &.mulish-font {
        font-family: $mulish;
    }

    &.roboto-font {
        font-family: $roboto;
    }

    &.manrope-font {
        font-family: $manrope;
    }

    &.mukta-font {
        font-family: $mukta;
    }

    &.outfit-font {
        font-family: $outfit;
    }

    &.poppins-font {
        font-family: $poppins;
    }

    &.inter-font {
        font-family: $inter;
    }

    &::-webkit-scrollbar {
        scrollbar-width: none;
        width: 0px;
    }


    &.chatting {
        &:has(ul.chatting-mobile-menu) {
            .chatting-section {
                .chatting-scroll {
                    height: calc(100vh - 212px);

                    @media (max-width:600px) {
                        height: calc(100vh - calc(204px + (212 - 204) * ((100vw - 320px) / (600 - 320))));
                    }
                }
            }
        }
    }
}

a {
    color: rgba(var(--theme-color), 1);
    transition: 0.5s ease;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        transition: 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

.form-control {
    background-color: rgba(var(--white), 1);

    &:focus {
        box-shadow: none;
        border-color: rgba(var(--theme-color), 1);
    }
}

h1,
.h1 {
    font-size: 42px;
    margin-bottom: 0;
}

h2,
.h2 {
    font-size: 24px;
    margin-bottom: 0;
}

h3,
.h3 {
    font-size: 18px;
    margin-bottom: 0;
}

h4,
.h4 {
    font-size: 16px;
    margin-bottom: 0;
}

h5,
.h5 {
    font-size: 14px;
    margin-bottom: 0;
}

h6,
.h6 {
    font-size: 13px;
    margin-bottom: 0;
}

p,
.p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    line-height: 1;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
}