/*=====================
1.2 Common mixing SCSS
==========================*/
/* ======= Display Flex Css Start ======= */
@mixin flex_common($dis: flex, $align: center) {
    display: $dis;
    align-items: $align;
}

/* ======= Display Flex Css End ======= */

/* ======= Display Center Css Start ======= */
@mixin flex_center($dis: flex, $align: center, $justify: center) {
    display: $dis;
    align-items: $align;
    justify-content: $justify;
}

/* ======= Display Flex Css End ======= */

/* ======= text line start ======= */
@mixin text-ellipsis($line: 1) {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    white-space: normal;
}

/* ======= text line end ======= */

/* ======= Display Space Css Start ======= */
@mixin flex_space($dis: flex, $align: center, $space: space-between) {
    display: $dis;
    align-items: $align;
    justify-content: $space;
}

/* ======= Display Flex Css End ======= */

/* ======= Flex Gap Css Start ======= */
@mixin flex_wrap($dis: flex, $wrap: wrap, $gap: 15px) {
    display: $dis;
    flex-wrap: $wrap;
    gap: $gap;
}

/* ======= Flex Gap Css End ======= */

/*======= position css starts  ======= */
@mixin pos($pos: absolute, $content: "") {
    content: $content;
    position: $pos;
}

@mixin pseudowh($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

@mixin center($position) {
    @if $position=="vertical" {
        top: 50%;
        transform: translateY(-50%);
    }

    @else if $position=="horizontal" {
        left: 50%;
        transform: translateX(-50%);
    }

    @else if $position=="both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*======= position css ends  ======= */

$i: 0;

@while $i<=100 {
    .padding-#{$i} {
        padding: #{$i}px;
    }

    .p_top-#{$i} {
        padding-top: #{$i}px;
    }

    .p_bottom-#{$i} {
        padding-bottom: #{$i}px;
    }

    .margin-#{$i} {
        margin: #{$i}px;
    }

    .m_top-#{$i} {
        margin-top: #{$i}px;
    }

    .m_bottom-#{$i} {
        margin-bottom: #{$i}px;
    }

    .w-#{$i} {
        width: #{$i}px;
    }

    .h-#{$i} {
        height: #{$i}px;
    }

    .radius-#{$i} {
        border-radius: #{$i}px;
    }

    .fs-#{$i} {
        font-size: #{$i}px;
    }

    $i: $i+1;
}

// $background-name: theme-color,
// content,
// title,
// secondary,
// box-bg,
// black,
// white;
// $background-color: rgba(var(--theme-color), 1),
// rgba(var(--content-color), 1),
// rgba(var(--title-color), 1),
// rgba(var(--secondary-color), 1),
// rgba(var(--box-bg), 1),
// rgba(var(--border-color), 1),
// rgba(var(--black), 1),
// rgba(var(--white), 1);

// @each $var in $background-name {
//     $i: index($background-name, $var);

//     .bg-#{$var} {
//         background-color: rgba(var(--#{$var}), 1) !important;
//     }

//     .color-#{$var} {
//         color: rgba(var(--#{$var}), 1) !important;
//     }

//     .icon-#{$var} {
//         --iconsax-Color: rgba(var(--#{$var}), 1) !important;
//     }
// }