/*=====================
   3.3  Form CSS
=======================*/
input[type=date i] {
    &::-webkit-calendar-picker-indicator {
        position: absolute;
        width: 80%;
        height: 20px;
        left: 40px;
        opacity: 0;
        cursor: pointer;
    }
}

input[type="number"] {

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}

.form-group {
    position: relative;
    width: 100%;
    margin-top: 35px;

    @media (max-width:600px) {
        margin-top: calc(15px + (35 - 15) * ((100vw - 320px) / (600 - 320)));
    }

    &.floating-label-input {
        position: relative;

        >.form-check-label {
            position: absolute;
            top: 50%;
            left: 16px;
            color: rgba(var(--content-color), 1);
            transform: translateY(-50%);
            cursor: text;
            transition: all 0.2s ease-out;
            background: transparent;
            padding: 0 5px;
            font-size: 16px;
        }

        .input-text {
            width: 100%;
            font-size: 14px;
            padding: 12px;
            border: 1px solid rgba(var(--border-color), 1);
            border-radius: 100px;
            background: transparent;

            &::placeholder {
                opacity: 0;
            }

            &:focus,
            &:not(:placeholder-shown) {
                outline: 2px solid rgba(var(--content-color), 1);
            }

            &:focus+.form-check-label,
            &:not(:placeholder-shown)+.form-check-label {
                top: 0;
                left: 15px;
                background: rgba(var(--white), 1);
                padding-inline: 8px;
                font-size: 12px;
                color: rgba(var(--content-color), 1);
            }

            &:focus+.form-check-label,
            &:valid+.form-check-label {
                top: 0;
                left: 15px;
                background: rgba(var(--white), 1);
                padding-inline: 8px;
                font-size: 12px;
                color: rgba(var(--content-color), 1);
            }
        }
    }
}

.search-form {
    .form-group {
        .form-input {
            display: flex;
            align-items: center;
            gap: 8px;

            .form-control {
                position: relative;
                width: calc(100% - 40px - 8px);
                padding: 15px 15px 15px 40px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--white), 1);
                border: 1px solid rgba(var(--content-color), 0.20);
                border-radius: 50px;

                &.wo-icon {
                    padding: 15px;

                    @media (max-width: 600px) {
                        padding: calc(12px + (15 - 12) * ((100vw - 320px) / (320 - 320))) 40px;
                    }
                }

                &.wo-filter {
                    width: 100%;
                }

                &::placeholder {
                    color: rgba(var(--content-color), 1);
                    font-weight: 400 !important;
                }

                &.search {
                    max-width: calc(100% - 46px - 9px);

                    body.dark-mode & {
                        background-color: rgba(var(--body-color), 1);
                        border-color: rgba(var(--theme-color), 0.3);
                    }
                }
            }

            .search-icon {
                position: absolute;
                top: 50%;
                left: 6px;
                background-color: transparent;
                transform: translateY(-50%);
                --Iconsax-Color: rgba(var(--title-color), 1);
                --Iconsax-Size: 20px;

                [dir="rtl"] & {
                    left: 64px;
                    right: unset;
                }

            }

            .filter-btn {
                width: 46px;
                height: 46px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(var(--theme-color), 1);
                border: none;
                border-radius: 100%;
                --Iconsax-Color: rgba(var(--white), 1);
                --Iconsax-Size: 20px;
                transform: rotate(180deg);

                @media (max-width: 600px) {
                    width: calc(40px + (46 - 40) * ((100vw - 320px) / (600 - 320)));
                    height: calc(40px + (46 - 40) * ((100vw - 320px) / (600 - 320)));
                    --Iconsax-Size: calc(16px + (20 - 16) * ((100vw - 320px) / (600 - 320)));
                }

                [dir="rtl"] & {
                    left: 0;
                    right: unset;
                }
            }

        }
    }

    &.ecommerce-search {
        .form-group {
            .form-input {
                .form-control {
                    width: 100%;
                    border: 1px solid rgba(var(--border-color), 1);

                    body.dark-mode & {
                        background-color: rgba(var(--body-color), 1);
                        border-color: rgba(var(--theme-color), 0.3);
                    }
                }

                .search-icon {
                    [dir="rtl"] & {
                        left: 10px;
                        right: unset;
                    }
                }

            }
        }
    }
}


.forgot {
    font-size: 13px;
    margin-top: 10px;
    float: right;
    color: rgba(var(--theme-color), 1);
}

.division {
    position: relative;
    text-align: center;
    margin-block: 40px;
    z-index: 0;

    span {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        background-color: rgba(var(--white), 1);
        color: rgba(var(--content-color), 1);
        padding: 0 10px;

        .dark-mode & {
            background-color: rgba(var(--body-color), 1);
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: linear-gradient(270deg,
                rgba(155, 166, 184, 0) -2.05%,
                rgba(155, 166, 184, 1) 50.93%,
                rgba(155, 166, 184, 0) 101.74%);
        z-index: -1;
        height: 2px;
    }
}

.grocery-division {
    margin-block: 25px;
}

.login-list {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    li {
        &:nth-child(3) {
            body.dark-mode & {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }

        a {
            @include flex_center;
            background-color: rgba(var(--white), 1);
            border: 1px solid rgba(var(--content-color), 0.26);
            border-radius: 100%;
            width: 70px;
            height: 70px;

            body.dark-mode & {
                background-color: rgba(var(--body-color), 1);
            }

            @media (max-width: 600px) {
                width: calc(50px + (70 - 50) * ((100vw - 320px) / (600 - 320)));
                height: calc(50px + (70 - 50) * ((100vw - 320px) / (600 - 320)));
            }

            .login-icon {
                width: 32px;
                height: 32px;

                @media (max-width: 600px) {
                    height: calc(25px + (32 - 25) * ((100vw - 320px) / (600 - 320)));
                    width: calc(25px + (32 - 25) * ((100vw - 320px) / (600 - 320)));
                }
            }
        }
    }

    &.plant-login {
        .login-box {
            border-radius: 14px;
            box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.07);

            a {
                border: none;
            }
        }
    }
}

.form-select {
    position: relative;
    padding: 14px 28px 14px 14px;
    border: 1px solid rgba(var(--border-color), 1);
    color: rgba(var(--title-color), 1);
    font-size: 14px;
    border-radius: 8px !important;
    background-color: rgba(var(--light-bg), 1);
    border: none;
    background-image: url("../images/plant/svg/down-arrow.svg");

    body.dark-mode & {
        background-color: rgba(var(--bg-color), 1);
        background-image: url("../images/plant/svg/down-arrow-white.svg");
    }

    [dir="rtl"] & {
        background-position: left 12px center;
        padding: 14px 14px 14px 28px;
    }

    &:focus {
        box-shadow: none;
        background-color: rgba(var(--light-bg), 1);

        body.dark-mode & {
            background-color: rgba(var(--bg-color), 1);
        }
    }

    &.rounded-select {
        border-radius: 40px;
    }

    &.auth-select {
        width: auto;

        body.dark-mode & {
            background-color: rgba(var(--light-bg), 1);
        }
    }

    &.grocery-select {
        background-color: rgba(var(--white), 1);

        .dark-mode & {
            background-color: rgba(var(--body), 1);
        }
    }
}

.otp-form {
    margin-top: 20px;

    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 10px;
        margin-top: 25px;

        .form-label {
            position: relative;
            font-size: 14px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);

            &::before {
                content: "";
                position: absolute;
                width: 4px;
                height: 25px;
                top: 0;
                left: -20px;
                transform: translateX(-50%);
                background-color: rgba(var(--theme-color), 1);
                border-radius: 4px;
            }
        }

        .form-input {

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .form-control {
                position: relative;
                width: 65px;
                height: 65px;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--white), 1);
                border: 1px solid rgba(var(--border-color), 1);
                border-radius: 100%;

                body.dark-mode & {
                    background-color: rgba(var(--light-bg), 1);
                }

                @media (max-width: 600px) {
                    width: calc(45px + (65 - 45) * ((100vw - 320px) / (600 - 320)));
                    height: calc(45px + (65 - 45) * ((100vw - 320px) / (600 - 320)));
                }

                &::placeholder {
                    color: rgba(var(--content-color), 1);
                    font-weight: 500 !important;
                }

                &:focus {
                    box-shadow: none;
                    border: 1px solid rgba(var(--theme-color), 1);
                }
            }
        }
    }

    .form-check {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0;
        margin: 0;

        .form-check-input {
            width: 20px;
            height: 20px;
            float: unset;
            margin: 0;
            background: transparent;
            filter: none;

            &:checked {
                background-color: rgba(var(--theme-color), 1);
                border-color: rgba(var(--theme-color), 1);
            }
        }

        [type="radio"] {
            border-radius: 100%;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: rgba(var(--theme-color), 1);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                border-radius: 100%;
                transition: all 0.12s ease;
            }

            &:checked {
                background-color: transparent;
                border-color: rgba(var(--theme-color), 1);

                &::after {
                    transform: translate(-50%, -50%) scale(1);
                    transition: all 0.12s ease;
                }
            }
        }

        .form-check-label {
            font-weight: 400;
            color: rgba(var(--title-color), 1);
        }
    }
}

.auth-input-form {
    .form-group {
        position: relative;
        margin-top: 30px;

        .form-check-label {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);
        }

        .form-control {
            position: relative;
            padding: 14px 14px 14px 40px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--light-bg), 1);
            border: none;
            border-radius: 8px;
            text-align: start;

            body.dark & {
                background-color: rgba(var(--light-bg), 1);
            }

            &.wo-icon {
                padding: 14px;
                background-color: rgba(var(--light-bg), 1);
            }

            &.search {
                position: relative;
                width: 100%;
                padding: 14px 40px;
                font-size: 16px;
                line-height: 1;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--light-bg), 1);
                border: none;
                border-radius: 8px;

                @media (max-width: 600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }
            }

            &.textarea-form-control {
                border-radius: 8px;
            }

            &:focus {
                border-color: rgba(var(--border-color), 1);
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            --Iconsax-Color: rgba(var(--content-color), 1);
            --Iconsax-Size: 20px;
        }

        .search-icon {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 20px;
            background-color: transparent;

            [dir="rtl"] & {
                left: unset;
                right: 5px;
            }
        }

        .mic-icon {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            --Iconsax-Color: rgba(var(--theme-color), 1);
            --Iconsax-Size: 20px;

            [dir="rtl"] & {
                right: unset;
                left: 12px;
            }
        }

        .filter-btn {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            padding-left: 10px;
            border-left: 1px solid rgba(210, 210, 210, 1);
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 20px;

            [dir="rtl"] & {
                right: unset;
                left: 10px;
                border-left: unset;
                border-right: 1px solid rgba(210, 210, 210, 1);
                padding-left: unset;
                padding-right: 10px;
            }
        }
    }
}

.plant-form {
    .form-group {
        margin-top: 20px;

        .form-control {
            .dark-mode & {
                background-color: rgba(var(--light-bg), 1);
            }
        }
    }
}

.grocery-form {
    position: relative;

    .form-group {
        .form-control {
            background-color: rgba(var(--white), 1);
            border: 1px solid rgba(var(--border-color), 0.14);

            body.dark-mode & {
                background-color: rgba(var(--body-color), 1);
            }

        }

        body.dark-mode & {
            .grocery-select {
                background-color: rgba(var(--body-color), 1);
            }
        }
    }
}


.plant-otp-form {
    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 16px;
        margin-top: 25px;

        .form-control {
            position: relative;
            width: 100%;
            padding: 15px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--light-bg), 1);
            border-radius: 8px;
            border: 1px solid transparent;

            body.dark-mode & {
                background-color: rgba(var(--light-bg), 1);
            }


            [dir="rtl"] & {
                text-align: center;
            }

            @media (max-width:600px) {
                padding: calc(8px + (11 - 8) * ((100vw - 320px) / (600 - 320)));
                font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (600 - 320)));
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400 !important;
            }

            &:focus {
                box-shadow: none;
                border: 1px solid rgba(var(--theme-color), 1);
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.pet-otp-form {
    .form-group {
        margin-top: 25px;

        .form-control {
            position: relative;
            width: 100%;
            height: 65px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--light-bg), 1);
            border: none;
            border-radius: 8px;

            @media (max-width: 600px) {
                height: calc(45px + (65 - 45) * ((100vw - 320px) / (600 - 320)));
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400 !important;
            }

            &:focus {
                box-shadow: none;
                border: 1px solid rgba(var(--theme-color), 1);
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.ecommerce-form {
    .form-group {
        &.floating-label-input {
            body.dark-mode & {
                .input-text {
                    border-color: rgba(var(--theme-color), 0.8);
                    color: rgba(var(--title-color), 1);
                }

                label {
                    background-color: rgba(var(--body-color), 1) !important;
                }
            }

            .input-text {
                border-color: rgba(var(---border-color), 1);

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .division {
        &::after {
            background: rgba(var(--border-color), 1);
        }

        body.dark-mode & {
            &::after {
                background: rgba(var(--border-color), 0.14);
            }

            span {
                background-color: rgba(var(--body-color), 1);
            }
        }

        span {
            font-size: 13px;
            background-color: rgba(var(--white), 1);

        }
    }

    h6 {
        margin-top: 32px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: rgba(var(--content-color), 1);

        a {
            text-decoration: underline;
            color: rgba(var(--title-color), 1);
        }
    }
}

/* ==================== food form ==================*/
.food-input-form {
    .form-group {
        position: relative;
        margin-top: 20px;

        .form-check-label {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);
        }

        .form-control {
            position: relative;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--light-bg), 1);
            border: none;
            border-radius: 8px;
            -webkit-text-security: none;
            text-security: none;

            .dark-mode & {
                background-color: rgba(var(--bg-color), 1) !important;
            }

            &.wo-icon {
                padding: 14px;
                background-color: rgba(var(--light-bg), 1);
            }

            &.search {
                position: relative;
                width: 100%;
                padding-block: 14px;
                padding-left: 40px;
                font-size: 16px;
                line-height: 1;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--light-bg), 1);
                border: none;
                border-radius: 8px;

                @media (max-width: 600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }

                [dir="rtl"] & {
                    padding-right: 40px;
                    padding-left: 10px;
                }
            }

            &.search-space {
                position: relative;
                width: 100%;
                padding-block: 14px;
                padding-inline: 40px;
                font-size: calc(14px + 2*(100vw - 320px) / 1600);
                line-height: 1;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--light-bg), 1);
                border: none;
                border-radius: 8px;
            }

            &.textarea-form-control {
                border-radius: 8px !important;
            }

            &:focus {
                border-color: rgba(var(--border-color), 1);
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400 !important;
            }
        }

        .icon {
            @include pseudowh(28px, 28px);
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            stroke: rgba(var(--content-color), 0.62);
        }

        .search-icon {
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 20px;
            background-color: transparent;

            [dir="rtl"] & {
                left: unset;
                right: 10px;
            }
        }

        .filter-btn {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            padding-left: 10px;
            border-left: 1px solid rgba(210, 210, 210, );
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 20px;

            [dir="rtl"] & {
                right: unset;
                left: 10px;
                border-left: unset;
                border-right: 1px solid rgba(210, 210, 210, 1);
                padding-left: unset;
                padding-right: 10px;
            }
        }

        .email-error {
            margin-top: 15px;
            text-align: right;

            p {
                font-size: 14px;
                font-weight: 500;
                color: rgba(var(--content-color), 1);
                text-align: left;

                span {
                    color: rgba(var(--dark-bg), 1);
                    font-weight: 700;
                }
            }

            .email-button {
                background-color: transparent;
                color: rgba(var(--error-color), 1);
                border: 2px solid rgba(var(--error-color), 1);
                border-radius: 5px;
                padding: 5px;
                font-size: 14px;
                font-weight: 500;

            }
        }

        .password-box {
            display: flex;
            align-items: center;
            background-color: rgba(var(--bg-color), 1);
            border-radius: 8px;
            position: relative;

            a {
                color: rgba(var(--error-color), 1);
                font-weight: 500;
                font-size: 16px;
                display: flex;
                align-items: center;
                margin-right: 12px;

                [dir="rtl"] & {
                    margin-right: unset;
                    margin-left: 12px;
                }

                svg {
                    --Iconsax-Color: rgba(var(--error-color), 1);
                    --Iconsax-Size: 16px;
                    margin-left: 5px;
                }
            }

            .toggle-password {
                display: none;
            }

            .password-icon {
                display: flex;
                align-items: center;
                margin-right: 12px;
                cursor: pointer;
                padding: 0;

                [dir="rtl"] & {
                    margin-right: unset;
                    margin-left: 12px;
                }

                svg {
                    --Iconsax-Color: rgba(var(--content-color), 1);
                    --Iconsax-Size: 20px;
                }

                .eye-icon {
                    display: none;
                }

                .eye-slash {
                    display: inline;
                }

            }
        }
    }
}

/* ==============
food page CSS
=================*/
.button-header {
    display: flex;
    gap: 16px;
    overflow: auto;

    li {
        width: 100%;
        background-color: rgba(var(--bg-color), 1);
        padding: 10px 15px;
        border-radius: 7px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);

            svg {
                @include pseudowh(16px, 16px);
                fill: rgba(var(--content-color), 1);
            }
        }

        &.active {
            background-color: rgba(var(--theme-color), 1);

            a {
                color: rgba(var(--dark-bg), 1);
            }

            svg {
                fill: rgba(var(--dark-bg), 1);
            }
        }
    }

}

.food-form {
    margin-top: 25px;

    label {
        width: 100%;
    }

    input {
        font-weight: 400;
    }

    .form-group {
        +.form-group {
            margin-top: 18px;

        }

        .flex-common {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .food-input-text {
            background-color: rgba(var(--bg-color), 1);
            padding: 15px;
            border-radius: 7px;
            margin-top: 8px;
        }
    }
}

.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(var(--dark-bg), 1);
    cursor: pointer;
    margin-top: 15px;

    +.custom-checkbox {
        margin-top: 20px;

        @media (max-width:600px) {
            margin-top: calc(20px + (12 - 20) * ((100vw - 320px) / (600 - 320)));

        }
    }

    input {
        display: none;
    }

    .checkmark {
        height: 16px;
        width: 16px;
        border-radius: 4px;
        display: inline-block;
        margin-right: 6px;
        position: relative;
        border: 1px solid rgba(var(--border-color), 1);
        transition: background-color 0.3s, border-color 0.3s;

        [dir="rtl"] & {
            margin-right: unset;
            margin-left: 8px;
        }
    }

    input:checked+.checkmark {
        background-color: rgba(var(--theme-color), 1);
        border-color: rgba(var(--theme-color), 1);
    }

    input:checked+.checkmark::after {
        @include pos;
        top: 1px;
        left: 5px;
        width: 5px;
        height: 10px;
        border: solid rgba(var(--dark-bg), 1);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

.theme-box {
    .checkmark {
        margin-left: auto;

        [dir="rtl"] & {
            margin-inline: auto 0;
        }
    }
}


.food-recent-search-listing {
    li {
        width: 100%;

        a {
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            @media (max-width: 600px) {
                margin-bottom: calc(5px + (15 - 5) * ((100vw - 320px) / (600 - 320)));
            }
        }


        &:last-child {
            margin-bottom: 0;
        }

        h5 {
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            color: rgba(var(--content-color), 1);
            text-transform: capitalize;
        }

        .close-icon {
            --Iconsax-Color: rgba(var(--content-color), 1);
            --Iconsax-Size: 24px;
            transform: rotate(45deg);
        }

        .time-icon {
            --Iconsax-Color: rgba(var(--content-color), 1);
            --Iconsax-Size: 20px;
            margin-right: 5px;
            margin-top: -2px;
        }
    }
}

/* ==================== chatting form ==================*/
.chatting-search {
    margin-top: -55px;
}

.chatting-input-form {
    .form-group {
        position: relative;
        margin-top: 33px;

        @media (max-width:600px) {
            margin-top: calc(20px + (33 - 20) * ((100vw - 320px) / (600 - 320)));
        }

        +.form-group {
            margin-top: 15px;

            @media (max-width:600px) {
                margin-top: calc(12px + (15 - 12) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .form-check-label {
            font-size: 16px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);

            @media (max-width:600px) {
                font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .form-control {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            padding: 16px;
            background-color: rgba(var(--content-color), 0.05);
            border: 1px solid rgba(var(--content-color), 0.15);
            border-radius: 8px;
            -webkit-text-security: none;
            margin-top: 6px;

            body.dark-mode & {
                background-color: rgba(var(--white), 1);
                color: rgba(var(--title-color), 1);
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400;
            }

            @media (max-width: 600px) {
                padding: calc(12px + (16 - 12) * ((100vw - 320px) / (600 - 320)));
            }

            &.search {
                padding-block: 14px;
                padding-left: 40px;
                font-size: 16px;
                background-color: rgba(var(--white), 1);
                z-index: 0;

                @media (max-width: 600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }

                [dir="rtl"] & {
                    padding-left: unset;
                    padding-right: 40px;
                }
            }

            &.textarea-form-control {
                border-radius: 8px !important;
            }

            &:focus {
                border-color: rgba(var(--content-color), 0.15);
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400 !important;
            }
        }

        .search-icon {
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            --Iconsax-Color: rgba(var(--content-color), 1);
            --Iconsax-Size: 20px;
            z-index: 2;
            background-color: transparent;

            [dir="rtl"] & {
                left: unset;
                right: 10px;
            }
        }

        .reset {
            float: right;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 500;
            background: var(--theme-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .emoji-box {
            display: flex;
            align-items: center;
            background-color: rgba(var(--bg-color), 1);
            border-radius: 8px;
            position: relative;

            img {
                position: absolute;
                right: 16px;
                @include pseudowh(20px, 20px);
            }
        }

    }
}


/* ==============
Hotel form CSS
=================*/
.hotel-auth-form {
    margin-top: 30px;

    @media (max-width:600px) {
        margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (600 - 320)));
    }

    .form-group {
        margin-top: 0;

        +.form-group {
            margin-top: 15px;

            @media (max-width:600px) {
                margin-top: calc(12px + (30 - 12) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .form-check-label {
            margin-bottom: 8px;
            padding: 0;
            font-size: 16px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);

            @media (max-width: 600px) {
                font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)));
                margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .form-control {
            position: relative;
            padding: 14px 36px 14px 33px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--white), 1);
            border-radius: 10px;
            border: 1px solid rgba(var(--theme-color), 0.1);
            box-shadow: 0 2px 12px 0 rgba(5, 30, 71, 0.08);

            &::placeholder {
                color: rgba(var(--content-color), 1);
            }

            [dir="rtl"] & {
                text-align: right;
            }

            body.dark & {
                background-color: rgba(var(--light-bg), 1) !important;
            }

            &.search {
                padding: 14px 40px;
            }

            &:focus {
                background-color: rgba(var(--white), 1);
                border-color: rgba(var(--theme-color), 0.1);
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400 !important;
            }
        }

        .guest-input {
            padding-inline: 19px;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 20px;

            [dir="rtl"] & {
                right: 10px;
                left: unset;
            }
        }

        .toggle-password {
            display: none;
        }

        .password-icon {
            padding: 0;
            position: absolute;
            bottom: 30%;
            right: 12px;
            transform: translateY(50%);

            [dir="rtl"] & {
                left: 12px;
                right: unset;
            }

            svg {
                --Iconsax-Color: rgba(var(--content-color), 1);
                --Iconsax-Size: 20px;
            }

            .eye-icon {
                display: none;
            }

            .eye-slash {
                display: inline;
            }
        }
    }

    .flex-spacing {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: space-between;

        .custom-checkbox {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(var(--title-color), 1);
            cursor: pointer;
            margin-top: 5px;

            input {
                display: none;
            }

            .checkmark {
                @include pseudowh(20px, 20px);
                margin: 0;
                border-radius: 4px;
                display: inline-block;
                position: relative;
                border: 1px solid rgba(var(--theme-color), 0.3);
                transition: background-color 0.3s, border-color 0.3s;
            }

            input:checked+.checkmark {
                background-color: rgba(var(--theme-color), 1);
                border-color: rgba(var(--theme-color), 1);
            }

            input:checked+.checkmark::after {
                @include pos;
                @include pseudowh(6px, 12px);
                top: 1px;
                left: 6px;
                border: solid rgba(var(--white), 1);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        a {
            color: rgba(var(--theme-color), 1);
            font-size: 13px;
            font-weight: 500;
        }
    }

    .search-icon {
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        --Iconsax-Color: rgba(var(--title-color), 1);
        --Iconsax-Size: 20px;

        [dir="rtl"] & {
            left: unset;
            right: 10px;
        }
    }

    .filter-btn {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        padding-left: 10px;
        border-left: 1px solid rgba(210, 210, 210, 1);
        --Iconsax-Color: rgba(var(--title-color), 1);
        --Iconsax-Size: 20px;

        [dir="rtl"] & {
            right: unset;
            left: 10px;
            border-left: unset;
            border-right: 1px solid rgba(210, 210, 210, 1);
            padding-left: unset;
            padding-right: 5px;
        }
    }
}

.hotel-button-section {
    margin-top: 140px;

    @media (max-width:600px) {
        margin-top: calc(52px + (140 - 52) * ((100vw - 320px) / (600 - 320)));
    }

    h5 {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: rgba(var(--content-color), 1);

        a {
            color: rgba(var(--title-color), 1);
            font-weight: 600;
        }
    }

    .division2 {
        position: relative;
        text-align: center;
        margin-top: 25px;

        @media (max-width:600px) {
            margin-top: calc(15px + (25 - 15) * ((100vw - 320px) / (600 - 320)));
        }

        span {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            background-color: rgba(var(--white), 1);
            color: rgba(var(--content-color), 1);
            padding: 0 10px;

            .dark-mode & {
                background-color: rgba(var(--body-color), 1);
            }
        }

        &::after {
            @include pos;
            @include pseudowh(100%, 2px);
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            background: linear-gradient(270deg, rgba(155, 166, 184, 0) -2.05%, rgb(155, 166, 184) 50.93%, rgba(155, 166, 184, 0) 101.74%);
            z-index: -1;
        }
    }
}

.hotel-social-box {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    gap: 15px;

    @media (max-width:600px) {
        margin-top: calc(15px + (26 - 15) * ((100vw - 320px) / (600 - 320)));
        gap: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        @include pseudowh(102px, 101px);
        background-color: rgba(var(--white), 1);
        border: 1px solid rgba(var(--theme-color), 0.1);
        border-radius: 10px;
        width: 100%;
        padding: 20px 28px;
        box-shadow: 0 2px 12px 0 rgba(var(--theme-color), 0.04);

        @media (max-width:600px) {
            padding: calc(10px + (20 - 10) * ((100vw - 320px) / (600 - 320))) calc(10px + (28 - 10) * ((100vw - 320px) / (600 - 320)));
            height: calc(80px + (102 - 80) * ((100vw - 320px) / (600 - 320)));
        }

        &:nth-child(3) {
            body.dark-mode & {
                a {
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            color: rgba(var(--title-color), 1);
            font-size: 14px;
            font-weight: 600;
            width: 100%;
        }
    }
}

.add-guest-button {
    background-color: rgba(var(--content-color), 0.09);
    width: 100%;
    padding-block: 15px;
    border-radius: 6px;
    color: rgba(var(--theme-color), 1);
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.hotel-form-check {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 15px;

    @media (max-width:600px) {
        margin-top: calc(5px + (15 - 5) * ((100vw - 320px) / (600 - 320)));
    }

    .fill-circle {
        padding: 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 10px;
        font-weight: 600;
        color: rgba(var(--title-color), 1);

        input[type="radio"] {
            @include pseudowh(18px, 18px);
            cursor: pointer;
            display: block;
            accent-color: rgba(var(--theme-color), 1);
            transition: all 0.25s ease-in-out;
            position: relative;
            appearance: none;
            border-radius: 100%;
            border: 1px solid rgba(var(--border-color), 1);

            &::before {
                @include pos;
                @include pseudowh(10px, 10px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                background-color: rgba(var(--theme-color), 1);
                border-radius: 100%;
                transition: all 0.25s ease-in-out;
            }

            &:checked {
                border-color: rgba(var(--theme-color), 1);

                &::before {
                    transform: translate(-50%, -50%) scale(1);

                }
            }
        }
    }
}

/* =================
Blog post page CSS 
====================*/
.new-post-form {
    margin-top: 10px;

    .post-compose-box {
        input {
            color: rgba(var(--title-color), 1);
            font-size: 16px;
            font-weight: 500;
            padding: 0 0 10px 0;
            border: none;
            background-color: transparent;

            @media (max-width:600px) {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
            }

            &:focus {
                outline: 0;
            }
        }

        .add-post-page {
            position: relative;
            overflow: hidden;

            .post-text {
                width: 100%;
                height: calc(100vh - 50px - 34px - 100px) !important;
                padding-top: 10px;
                color: rgba(var(--title-color), 1);
                font-size: 16px;
                font-weight: 500;
                border: none;
                border-top: 1px solid rgba(var(--content-color), 0.18);
                background-color: transparent;

                &:focus {
                    outline: 0;
                }

                @media (max-width:600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }
            }

            .add-image-section {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                opacity: 0.6;

                svg {
                    width: 255px;
                    height: 202px;
                }
            }
        }
    }
}

/************ Learning OTP CSS ************/
.learn-otp {
    .form-group {
        .form-control {
            font-size: 26px;
            font-weight: 500;
            box-shadow: 2px 2px 0 0 rgba(var(--title-color), 1);
            padding-block: 8px;
            border: none;

            body.dark-mode & {
                box-shadow: 2px 2px 0 0 rgba(var(--black), 1);
            }

            @media (max-width:600px) {
                font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (600 - 320)));
            }

            &:focus {
                box-shadow: 2px 2px 0 0 rgba(var(--title-color), 1);
                border: none;
            }
        }
    }
}

/************** fitness OTP CSS *****************/
.fitness-otp-form {
    margin-top: 47px;

    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 16px;
        margin-top: 25px;

        .form-control {
            position: relative;
            width: 100%;
            padding: 15px;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--bg-color), 1);
            border-radius: 100%;
            border: 1px solid rgba(var(--content-color), 0.24);
            max-width: 64px;

            @media (max-width:600px) {
                padding: calc(5px + (15 - 5) * ((100vw - 320px) / (600 - 320)));
            }

            &::placeholder {
                color: rgba(var(--content-color), 1);
                font-weight: 400 !important;
            }

            &:focus {
                box-shadow: none;
                border: 1px solid rgba(var(--theme-color), 1);
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

/* ========== Movie OTP CSS ==========*/
.movie-otp-form {
    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 16px;
        padding-top: 63px;

        @media (max-width:600px) {
            padding-top: calc(15px + (63 - 15) * ((100vw - 320px) / (600 - 320)));
        }

        .form-control {
            position: relative;
            width: 100%;
            padding: 15px;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);
            background-color: rgba(var(--white), 0.06);
            border-radius: 8px;
            border: 2px solid transparent;

            @media (max-width:600px) {
                padding: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
            }

            &::placeholder {
                color: rgba(var(--white), 1);
            }

            &:focus {
                box-shadow: none;
                background: linear-gradient(112.85deg, #221D2B 100%, #221D2B 100%) padding-box, var(--theme-color) border-box;
                border: 2px solid transparent;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}