/*=========================
    Onboarding CSS
===========================*/
/*<================== ecommerce onboarding =================>*/
.ecommerce-onboarding-section {
    .ecommerce-onboarding-title {
        font-family: $anton;
        font-size: 42px;
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 2px;
        background: url("../images/splash-screen/ecommerce/title-bg.png") center top / cover no-repeat;
        // background: url("../images/splash-screen/ecommerce/title-bg.png");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center top;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        background-color: rgba(var(--title-color), 1);
    }

    .onboarding-image {
        .img {
            height: 600px;
            object-fit: cover;
            object-position: top;

            @media (max-width: 600px) {
                height: calc(430px + (600 - 430) * ((100vw - 320px) / (600 - 320)));
            }
        }
    }

    .onboarding-content-box {
        text-align: center;
        padding-block: 30px;
        background-color: rgba(var(--white), 1);
        box-shadow: 0px -18px 34px 0px rgba(82, 104, 102, 0.16);

        @media (max-width: 600px) {
            padding-block: calc(20px + (30 - 20) * ((100vw - 320px) / (600 - 320)));
        }

        h2 {
            font-size: 22px;
            font-weight: 700;
            text-transform: capitalize;
            color: rgba(var(--title-color), 1);

            @media (max-width: 600px) {
                font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (600 - 320)));
            }
        }

        h5 {
            font-weight: 400;
            line-height: 1.3;
            margin-top: 10px;
            padding-inline: 20px;
            color: rgba(var(--content-color), 1);

            @media (max-width: 600px) {
                padding-inline: calc(10px + (20 - 10) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .ecommerce-onboarding-btn {
            margin-top: 40px;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
            text-transform: uppercase;

            @media (max-width: 600px) {
                margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (600 - 320)));
            }
        }

        span {
            text-align: center;
            margin-top: 15px;
            font-weight: 500;
            color: rgba(var(--content-color), 1);

            a {
                font-weight: 600;
                text-decoration: underline;
                color: rgba(var(--theme-color), 1);
            }
        }
    }
}

/*<================== plant onboarding =================>*/
.plant-onboarding-section {
    padding-top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #48927a 0%, #0d9769 100%) !important;

    .onboarding-image {
        position: relative;
        padding-top: 45px;
        text-align: center;
        z-index: 1;

        .img {
            height: 440px;

            @media (max-width: 600px) {
                height: calc(400px + (440 - 400) * ((100vw - 320px) / (600 - 320)));
            }
        }
    }

    .onboarding-content-box {
        position: relative;
        padding-top: 45px;
        text-align: center;
        z-index: 1;

        h2 {
            position: relative;
            width: 75%;
            margin: auto;
            padding-bottom: 15px;
            font-size: 20px;
            font-weight: 800;
            line-height: 1.5;
            color: rgba(255, 255, 255, 1);

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 60px;
                background-color: rgba(255, 255, 255, 0.3);
                height: 2px;
                border-radius: 100px;
            }
        }

        h3 {
            padding-top: 15px;
            padding-inline: 35px;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(255, 255, 255, 1);
        }

        .arrow-icon {
            @include flex_center;
            position: relative;
            margin: 15px auto;
            width: 56px;
            height: 56px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 100%;
            --Iconsax-Size: 24px;
            --Iconsax-Color: rgba(var(--theme-color), 1);
            z-index: 1;

            @media (max-width: 600px) {
                width: calc(46px + (56 - 46) * ((100vw - 320px) / (600 - 320)));
                height: calc(46px + (56 - 46) * ((100vw - 320px) / (600 - 320)));
            }
        }
    }

    .rounded-circle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -114px;
        z-index: 0;

        @media (max-width: 600px) {
            bottom: calc(-4px + (-114 - -4) * ((100vw - 320px) / (600 - 320)));
        }
    }
}

/*<================== grocery onboarding =================>*/
.grocery-onboarding-section {
    .onboarding-image {
        text-align: center;

        .img {
            position: relative;
            z-index: 1;
        }
    }

    .onboarding-content-box-wrapper {
        background: url("../images/splash-screen/grocery/onboarding-bg.svg") top center / cover no-repeat;
        // background-image: url("../images/splash-screen/grocery/onboarding-bg.svg");
        // background-position: top center;
        // background-repeat: no-repeat;
        // background-size: cover;
        width: 100%;
        height: 466px;
        max-width: 600px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        .onboarding-content-box {
            text-align: center;

            .content-box-bg {
                z-index: 2;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -48px;

                @media (max-width:362px) {
                    bottom: -46px;
                }

                @media (max-width:348px) {
                    bottom: -44px;
                }

                @media (max-width:334px) {
                    bottom: -42px;
                }

                @media (max-width:328px) {
                    bottom: -40px;
                }
            }

            .box-content {
                position: absolute;
                bottom: 100px;
                z-index: 3;
                width: calc(100% - 30px);
                left: 50%;
                transform: translateX(-50%);
                background-color: #fff;
                padding: 52px 16px;
                border-radius: 34px;

                .squer-box {
                    background-color: #fff;
                    width: 105px;
                    height: 105px;
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    border-radius: 100%;
                    bottom: -53px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: calc(50% + 17px);
                        right: -72px;
                        transform: translateY(-50%) rotate(4deg);
                        height: 39px;
                        width: 74px;
                        background-color: #41a7a7;
                        border-radius: 10px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: calc(50% + 17px);
                        left: -72px;
                        transform: translateY(-50%) rotate(-4deg);
                        height: 39px;
                        width: 74px;
                        background-color: #41a7a7;
                        border-radius: 10px;
                    }
                }

                h2 {
                    font-weight: 800;
                    font-size: 20px;
                    color: rgba(var(--title-color), 1);
                    text-transform: capitalize;
                }

                h3 {
                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.3;
                    color: rgba(var(--content-color), 1);
                }

                .arrow-icon {
                    position: absolute;
                    bottom: -28px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 56px;
                    height: 56px;
                    @include flex_center;
                    background-color: rgba(var(--theme-color), 1);
                    border-radius: 100%;
                    --Iconsax-Size: 24px;
                    --Iconsax-Color: rgba(255, 255, 255, 1);
                    z-index: 3;

                    @media (max-width: 600px) {
                        width: calc(46px + (56 - 46) * ((100vw - 320px) / (600 - 320)));
                        height: calc(46px + (56 - 46) * ((100vw - 320px) / (600 - 320)));
                        bottom: calc(-22px + (-28 - -22) * ((100vw - 320px) / (600 - 320)));
                    }
                }
            }
        }
    }
}

/*<================== pet onboarding =================>*/
.pet-onboarding-section {
    position: relative;
    height: 100%;

    .onboarding-image-part {
        background-color: rgba(var(--theme-color), 1);
        clip-path: circle(100% at 50% 0);

        @media (min-width: 600px) {
            clip-path: circle(98% at 50% 0);
        }

        .text {
            width: 200px;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .onboarding-image {
            padding-top: 80px;

            .img {
                width: 100%;
            }
        }
    }

    .onboarding-content-box-wrapper {
        .box-content {
            text-align: center !important;
            padding-top: 25px;

            h2 {
                font-size: 22px;
                font-weight: 700;
                color: rgba(var(--title-color), 1);

                @media (max-width: 600px) {
                    font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (600 - 320)));
                }
            }

            h5 {
                margin-top: 10px;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                color: rgba(var(--content-color), 1);
            }
        }
    }

    .slide-drag-part {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: rgba(var(--white), 1);

        .swipe-text {
            margin-bottom: 6px;
            font-weight: 400;
            font-size: 14px;
            color: rgba(var(--title-color), 1);
        }
    }
}

/*=======================  Food Onboarding CSS ===============*/
.food-onboarding {
    background: rgba(var(--dark-bg), 1);
    min-height: 100vh;
    position: relative;

    .onboarding-image {
        .round-animated {
            position: absolute;
            left: 32px;
            animation: round 2s linear infinite;
        }

        .bonus-animated {
            position: absolute;
            top: 10%;
            right: 12%;
            animation: bonus 2s ease-in-out infinite alternate;
        }

        .food-animated {
            position: absolute;
            top: 40%;
            left: 33%;
            animation: bonus 2s ease-in-out infinite alternate;

            @media(max-width:350px) {
                top: 42%;
                left: 16%;
            }
        }

        .chilli-animated {
            position: absolute;
            top: 60%;
            right: 18%;
            animation: bonus 2s ease-in-out infinite alternate;

            @media(max-width:350px) {
                top: 67%;
                right: 9%;
            }
        }

        .top-open-box {
            position: relative;

            .onboarding-round {
                width: 10px;
                height: 10px;
                position: absolute;
                top: 47%;
                left: 50%;
                transform: translateX(-50%) translateY(17px);
                background-color: rgba(var(--theme-color), 0.17);
                outline: 2px solid rgba(var(--theme-color), 0.17);
                outline-offset: 3px;
                border-radius: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                top: -13px;
                margin-left: -6px;
                transform: translateY(-50%);
                left: 50%;
                border-right: 7px solid rgba(0, 0, 0, 0);
                border-left: 7px solid rgba(0, 0, 0, 0);
                border-top: 18px solid rgba(var(--theme-color), 0.17);
            }
        }

        .open {
            position: absolute;
            right: 41.1%;
            margin-top: 43px;
            padding-top: 25px;
            animation: left-to-right 8s infinite alternate;

            h3 {
                position: relative;
                display: inline-block;
                border: 2px solid rgba(var(--theme-color), 0.17);
                border-radius: 6px;
                padding: 10px 40px;
                color: rgba(var(--theme-color), 0.15);
                font-family: "Righteous", sans-serif;
                font-size: 22px;
                font-weight: 400;
                rotate: 10deg;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -18px;
                width: 100%;
                height: 62px;
                border-left: 2px solid rgba(var(--theme-color), 0.17);
                rotate: 63deg;
                left: 11%;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -11px;
                width: 100%;
                height: 62px;
                border-right: 2px solid rgba(var(--theme-color), 0.17);
                rotate: -41deg;
                right: 13%;
            }
        }
    }
}

.onboarding-contant {
    padding-top: 29%;

    h1 {
        padding-inline: 15px;
        color: rgba(var(--white), 1);
        font-family: "Righteous", sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;
        top: 20%;
        position: absolute;

        @media (max-width:600px) {
            font-size: calc(32px + (36 - 32) * ((100vw - 320px) / (600 - 320)));
        }

        span {
            padding-left: 24px;
        }
    }

    .food-button {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 85px;
        padding: 0 15px;

        .skip {
            font-weight: 600;
            font-size: 18px;
            color: rgba(var(--white), 1);
        }
    }
}

.onboarding-main-image {
    width: 234px;
    margin-inline: auto 23%;
    margin-top: 25%;
    position: relative;

    @media (max-width:350px) {
        margin-inline: auto 15%;
        margin-top: 85%;
    }

    .food-contant-image {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .food-contant-line {
        min-width: 234px;
        animation: round 20s linear infinite;
        min-height: 234px;
    }
}

/* ====================== chatting page CSS ====================*/
.main-onboarding-wrapper {
    background-color: rgba(var(--secondary), 1);
    min-height: 100vh;
    position: relative;

    .onboarding-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        .onboarding-chat-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .bottom-onboarding-box {
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 30px);
        bottom: 15px;
        max-width: calc(600px - 30px);

        .onboarding-container {
            background: var(--theme-color);
            color: rgba(var(--white), 1);
            text-align: center;
            border-radius: 30px;
            padding-top: 30px;
            padding-bottom: 45px;

            h2 {
                font-size: 20px;
                font-weight: 600;

                @media(max-width:600px) {
                    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (600 - 320)));
                }
            }

            .onboarding-line-contant {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 9px;
                margin-block: 10px;

                img {
                    @include pseudowh(8px, 8px);
                    @include flex_center;
                    border-radius: 100px;
                    background-color: rgba(var(--white), 1);
                }

                &::before,
                &::after {
                    content: "";
                    @include pseudowh(40px, 1px);
                    background-color: rgba(var(--white), 1);
                    border-radius: 100px;
                }
            }

            p {
                font-size: 14px;
                font-weight: 400;
            }
        }

        .onboarding-back-box {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: -32px;

            a {
                margin: 8px;
                @include flex_center;
                @include pseudowh(52px, 52px);
                border-radius: 100px;
                background-color: rgba(var(--white), 1);
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 100%;
                    padding: 2px;
                    width: calc(100% + 16px);
                    height: calc(100% + 16px);
                    background: var(--theme-color);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
            }
        }
    }
}

/* ====================== Hotel-Booking CSS ===============*/
.onboarding-hotel-section {
    overflow: hidden;

    .onboarding-back-image {
        @include pseudowh;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%);

        @media (max-width:375px) {
            display: none;
        }
    }

    .onboarding-image {
        @include pseudowh(113px, 146px);
        animation: fancyFloat 8s ease-in-out infinite;

        &::before {
            @include pseudowh(108px, 149px);
            @include pos;
            top: 48px;
            left: 8px;
            border: 1px solid #000;
            border-radius: 100%;
            transform: rotate(8deg);
        }

        img {
            @include pseudowh;
            margin-top: 48px;
            margin-left: -4px;
            border-radius: 100%;
            transform: rotate(8deg);
            object-fit: cover;
        }
    }

    .onboarding-image2 {
        @include pseudowh(158px, 210px);
        position: absolute;
        top: -25px;
        right: 20px;
        transform: rotate(-15deg);
        animation: fancyFloat 8s ease-in-out infinite;

        @media (max-width:600px) {
            @include pseudowh(calc(120px + (158 - 120) * ((100vw - 320px) / (600 - 320))), calc(170px + (210 - 170) * ((100vw - 320px) / (600 - 320))))
        }

        &::before {
            @include pseudowh(158px, 210px);
            @include pos;
            top: 0px;
            left: -8px;
            border: 1px solid #000;
            border-radius: 100%;
            z-index: -1;

            @media (max-width:600px) {
                @include pseudowh(calc(120px + (158 - 120) * ((100vw - 320px) / (600 - 320))), calc(170px + (210 - 170) * ((100vw - 320px) / (600 - 320))))
            }
        }
    }

    img {
        @include pseudowh;
        border-radius: 100%;
        object-fit: cover;
    }
}

.onboarding-image3 {
    @include pseudowh(252px, 336px);
    display: flex;
    justify-content: center;
    transform: rotate(7deg);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    animation: fancyFloat 8s ease-in-out infinite;

    @media (max-width:600px) {
        @include pseudowh(calc(200px + (252 - 200) * ((100vw - 320px) / (600 - 320))), calc(270px + (336 - 270) * ((100vw - 320px) / (600 - 320))))
    }

    &::before {
        @include pseudowh(252px, 336px);
        @include pos;
        left: 50%;
        border: 1px solid #000;
        border-radius: 100%;
        z-index: -1;
        transform: translate(-45%);

        @media (max-width:600px) {
            @include pseudowh(calc(200px + (252 - 200) * ((100vw - 320px) / (600 - 320))), calc(270px + (336 - 270) * ((100vw - 320px) / (600 - 320))))
        }
    }

    img {
        @include pseudowh;
        border-radius: 100%;
        object-fit: cover;
    }
}

.onboarding-content {
    text-align: center;

    h1 {
        font-size: 22px;
        font-weight: 700;
        color: rgba(var(--theme-color), 1);

        @media (max-width:600px) {
            font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (600 - 320)));
        }
    }

    p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(var(--content-color), 1);
        line-height: 1.5;
    }

    .skip {
        font-size: 16px;
        font-weight: 500;
        color: rgba(var(--title-color), 1);
    }
}

/* ================ Blog onboarding  page CSS ================*/
.blog-onboarding {
    background-color: rgba(var(--theme-color), 1);
    position: relative;

    .intro-top-section {
        h1 {
            font-family: "Signika", sans-serif;
            text-align: center;
            font-size: 100px;
            font-weight: 800;
            color: transparent;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
            background-clip: text;

            @media (max-width:600px) {
                font-size: calc(80px + (100 - 80) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .blog-image {
            top: 0;
            position: absolute;
            left: 10px;
            width: 100%;
            height: 640px;
        }
    }
}

.onboarding-card-container {
    overflow: hidden;
    max-width: 600px;
    margin-left: 0;
    row-gap: 25px;

    @media (max-width:600px) {
        row-gap: calc(15px + (25 - 15) * ((100vw - 320px) / (600 - 320)));
    }

    .first-card {
        @include flex_center;
        padding: 0;

        .f-img {
            @include pseudowh(90px, 90px);
            animation: round 6s linear infinite;
            object-fit: contain;

            @media (max-width:600px) {
                @include pseudowh(calc(70px + (90 - 70) * ((100vw - 320px) / (600 - 320))), calc(70px + (90 - 70) * ((100vw - 320px) / (600 - 320))))
            }
        }
    }

    .card-circle {
        @include pseudowh(20px, 20px);
        border-radius: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, rgba(255, 255, 255, 0) 100%);
        animation: round 6s linear infinite;
    }

    .onboarding-card {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 11px;
        border: 1px solid rgba(var(--white), 0.33);
        border-radius: 12px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.0403) 100%);
        transform: translateX(40px);

        @media (max-width:600px) {
            gap: calc(8px + (11 - 8) * ((100vw - 320px) / (600 - 320)));
            transform: translateX(calc(15px + (40 - 15) * ((100vw - 320px) / (600 - 320))));
        }

        img {
            border-radius: 5px;
            @include pseudowh(90px, 70px);
            object-fit: cover;

            @media (max-width:600px) {
                @include pseudowh(calc(50px + (90 - 50) * ((100vw - 320px) / (600 - 320))), calc(50px + (70 - 50) * ((100vw - 320px) / (600 - 320))))
            }
        }
    }

    .line-card {
        transform: translateX(-22px);
    }

    .onboarding-details {
        width: calc(100% - 11px - 90px);
        margin-top: -18px;

        .onboarding-line {
            @include pseudowh(96px, 4px);
            border-radius: 42px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.1) 75%);
            background-size: 400% 400%;
            animation: Gradient 2.5s ease infinite;
            position: relative;

            @media (max-width:600px) {
                @include pseudowh(calc(80px + (96 - 80) * ((100vw - 320px) / (600 - 320))), calc(3px + (4 - 3) * ((100vw - 320px) / (600 - 320))))
            }

            +.onboarding-line {
                margin-top: 35px;

                @media (max-width:600px) {
                    margin-top: calc(25px + (35 - 25) * ((100vw - 320px) / (600 - 320)));
                }
            }

            &::after {
                @include pos;
                @include pseudowh(68px, 4px);
                top: 8px;
                left: 0;
                border-radius: 42px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.1) 75%);
                background-size: 400% 400%;
                animation: Gradient 2.5s ease infinite;

                @media (max-width:600px) {
                    @include pseudowh(calc(50px + (68 - 50) * ((100vw - 320px) / (600 - 320))), calc(3px + (4 - 3) * ((100vw - 320px) / (600 - 320))))
                }
            }

            &::before {
                @include pos;
                @include pseudowh(80px, 4px);
                top: 16px;
                left: 0;
                border-radius: 42px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.1) 75%);
                background-size: 400% 400%;
                animation: Gradient 2.5s ease infinite;

                @media (max-width:600px) {
                    @include pseudowh(calc(65px + (80 - 65) * ((100vw - 320px) / (600 - 320))), calc(3px + (4 - 3) * ((100vw - 320px) / (600 - 320))))
                }
            }
        }
    }
}

.onboarding-atrial-section {
    position: fixed;
    max-width: 600px;
    width: 100%;
    bottom: 0;
    background-color: rgba(var(--white), 1);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    .onboarding-atrial-content {
        text-align: center;
        padding: 32px 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            color: rgba(var(--title-color), 1);

            @media (max-width:600px) {
                font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (600 - 320)));
            }
        }

        p {
            margin-top: 5px;
            font-size: 16px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);

            @media (max-width:600px) {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .blog-fixed {
            margin-top: 30px;

            .blog-skip {
                font-size: 18px;
                font-weight: 600;
                color: rgba(var(--title-color), 1);
                margin-top: 23px;
                display: block;
            }
        }
    }
}

/* ==================== Learning Onboarding CSS ==================*/
.learning-onboarding-section {
    .learning-img {
        display: flex;
        justify-content: end;
    }

    .learning-onboarding-content {
        text-align: center;
        margin-top: 20px;
        padding-inline: 20px;

        h2 {
            font-size: 28px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);

            span {
                color: rgba(var(--theme-color), 1);
            }
        }

        p {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);
            margin-bottom: 43px;
        }
    }
}

.onboarding-content-section {
    z-index: 1;
    position: relative;
}

/* ==================== cab booking CSS ===================*/
.cab-onboarding-section {
    background: linear-gradient(180deg, #2C3E63 -17.12%, #191A20 64.72%);
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    .cab-start-screen {
        height: 100%;
        min-height: 100vh;

        img {
            mix-blend-mode: overlay;
            width: 100%;
            height: 100%;
            object-position: bottom;
            min-height: 100vh;
        }
    }

    .cab-onboarding-map {
        .map-img {
            height: 350px;
            position: absolute;
            top: 13px;
            right: 50px;

            @media (max-width:600px) {
                height: calc(238px + (256 - 238) * ((100vw - 320px) / (600 - 320)));
                right: calc(8px + (50 - 8) * ((100vw - 320px) / (600 - 320)));
            }

            @media (max-w) {}
        }
    }

}

.cab-onboarding-details {
    max-width: 600px;
    background-color: rgba(var(--white), 1);
    height: 400px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;

    @media (max-width:600px) {
        border-top-left-radius: calc(120px + (200 - 120) * ((100vw - 320px) / (600 - 320)));
        border-top-right-radius: calc(120px + (200 - 120) * ((100vw - 320px) / (600 - 320)));


    }

    &::after {
        @include pos;
        width: 235px;
        height: 55px;
        background-color: rgba(var(--content-color), 0.1);
        border-radius: 100%;
        top: 38px;
        left: 50%;
        transform: translateX(-50%);
    }

    .car-img {
        display: flex;
        margin-top: -20%;
        margin-inline: auto;
        width: 270px;

        @media (max-width:600px) {
            width: calc(200px + (270 - 200) * ((100vw - 320px) / (600 - 320)));
        }
    }

    .cab-content {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        max-width: 600px;
        width: 100%;
        padding-inline: 20px;
        top: 100px;
        text-align: center;

        h2 {
            font-size: 26px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);

            @media (max-width:600px) {
                font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (600 - 320)));
            }
        }

        h4 {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);
        }

        p {
            margin-top: 15px;
            font-size: 13px;
            font-weight: 400;
            color: #607080;

            span {
                font-weight: 600;
            }
        }
    }
}



/* ============== Fitness Onboarding CSS ==================*/
.fitness-onboarding-page {


    h1 {
        padding-inline: 28px;
        padding-top: 40px;
        font-size: 52px;
        font-weight: 400;
        color: rgba(var(--title-color), 1);
        font-family: "Bebas Neue", sans-serif;

        @media (max-width:600px) {
            padding-top: calc(18px + (40 - 18) * ((100vw - 320px) / (600 - 320)));
            font-size: calc(35px + (52 - 35) * ((100vw - 320px) / (600 - 320)));
        }

        span {
            transform: rotate(10deg);
            background-color: rgba(var(--theme-color), 1);
            border-radius: 8px;
            font-size: 38px;
            color: rgba(var(--black), 1);
            padding: 3px 10px 0px 10px;
            display: inline-flex;

            @media (max-width:600px) {
                padding-inline: calc(6px + (10 - 6) * ((100vw - 320px) / (600 - 320)));
                font-size: calc(30px + (38 - 30) * ((100vw - 320px) / (600 - 320)));
            }
        }
    }

    .background-image {
        background-image: url(/assets/images/fitness/onboarding/2.png);
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .body-image {
        height: 100%;
        min-height: calc(100vh - 110px);
        object-fit: cover;

        @media (max-width:600px) {
            height: calc(520px + (624 - 520) * ((100vw - 320px) / (600 - 320)));

        }
    }
}


/* ================ Furniture CSS ===================*/

.onboarding-furniture-images {
    .background-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .gulp-img {
        margin-left: 132px;

        @media (max-width:600px) {
            margin-left: calc(12px + (132 - 12) * ((100vw - 320px) / (600 - 320)));
        }

    }


    .cher-img {
        margin-top: -110px;
        margin-inline: auto;
        z-index: -1;
        position: relative;
        height: 510px;
        display: block;

        @media (max-width:600px) {
            margin-top: calc(-60px + (-110 - -60) * ((100vw - 320px) / (600 - 320)));
            height: calc(360px + (510 - 360) * ((100vw - 320px) / (600 - 320)));
        }
    }

    .line-img {
        width: 100%;
        max-height: 100vh;
    }
}

.furniture-intro-section {
    padding-inline: 20px;
    padding-top: 33px;
    text-align: center;

    @media (max-width:600px) {
        padding-top: calc(20px + (24 - 20) * ((100vw - 320px) / (600 - 320)));
    }

    h1 {
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 48px;
        font-weight: 400;
        color: rgba(var(--title-color), 1);

        @media (max-width:600px) {
            font-size: calc(40px + (48 - 40) * ((100vw - 320px) / (600 - 320)));
        }

        img {
            border-radius: 100%;
            width: 60px;
            height: 60px;
            object-fit: cover;
            background-color: rgba(var(--bg-color), 1);
            padding: 5px;
        }
    }

    p {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(var(--content-color), 1);
    }
}

/* =========== jewellery CSS ==========*/
.jewellery-onboarding-section {
    position: relative;

    .back-img {
        width: 100%;
        height: 100vh;
    }

    .girl-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .jewellery-boarding-content {
        height: 340px;
        position: absolute;
        bottom: 0;
        background-color: rgba(var(--white), 1);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-top: 48px;
        box-shadow: 0px -12px 0px 0px rgba(var(--white), 0.49);
        padding-inline: 25px;
        text-align: center;

        @media (max-width:600px) {
            padding-inline: calc(20px + (25 - 20) * ((100vw - 320px) / (600 - 320)));
            padding-top: calc(35px + (48 - 35) * ((100vw - 320px) / (600 - 320)));
            height: calc(315px + (340 - 315) * ((100vw - 320px) / (600 - 320)));
        }


        &::before {
            @include pos;
            width: 100%;
            height: 70px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            background-color: rgba(var(--white), 0.26);
            top: -26px;
            left: 50%;
            transform: translateX(-50%);

        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: rgba(var(--title-color), 1);
            line-height: 28px;
            position: relative;

            @media (max-width:600px) {
                font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (600 - 320)));
            }

            &::after {
                @include pos;
                width: 40px;
                height: 2px;
                background-color: rgba(var(--theme-color), 1);
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p {
            margin-top: 32px;
            color: rgba(var(--content-color), 1);
            font-size: 15px;
            font-weight: 400;

            @media (max-width:600px) {
                font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (600 - 320)));
            }

        }
    }
}