/*=====================
  3.7  tab CSS start
==========================*/
.ecommerce-tab {
    padding-inline: 15px;
    border-bottom: none;
    display: flex;
    flex-wrap: unset;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 20px;
    gap: 8px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }

    .nav-item {
        +.nav-item {
            margin-left: 10px;
        }
    }

    .nav-link {
        border: none;
        padding: 8px 12px;
        text-transform: capitalize;
        border-radius: 3px !important;
        margin-bottom: 0;
        white-space: nowrap;
        font-weight: 400;
        font-size: 14px;
        color: rgba(var(--title-color), 1);
        background-color: rgba(var(--light-bg), 1);

        &.active {
            font-weight: 500;
            color: rgba(var(--white), 1);
            background-color: rgba(var(--theme-color), 1);
        }
    }
}

.plant-tab {
    .nav-link {
        color: rgba(var(--content-color), 1);
        border-radius: 8px !important;

        &.active {
            font-weight: 600;
        }
    }
}

.grocery-auth-tab {
    margin-top: 78px;
    height: calc(100vh - 265px);

    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        border-bottom: none;
        overflow-x: auto;

        .nav-item {
            color: rgba(var(--white), 0.1);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            cursor: pointer;
            border-radius: 8px;
            transition: all 0.3s ease;
            border-radius: 0;
            border-bottom: 1px solid rgba(var(--border-color), 1);

            .nav-link {
                width: 100%;
                padding-top: 0;
                font-weight: 600;
                font-size: 16px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                background-color: transparent;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 1px solid rgba(var(--border), 1);

                &.active {
                    font-weight: 700;
                    background-color: transparent;
                    color: rgba(var(--theme-color), 1);
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: 2px solid rgba(var(--theme-color), 1);
                    padding-left: 15px;
                    padding-right: 15px;
                    border-radius: 0;
                    width: 100%;

                    &:hover {
                        color: rgba(var(--theme-color), 1);
                    }
                }

                &:hover {
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    color: rgba(var(--title-color), 1);
                }

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    .tab-content {
        height: 100%;
        background-color: rgba(var(--light-bg), 1);

        .google-buttons {

            a {
                @include flex_center;
                gap: 10px;
                padding: 15px;
                margin-top: 15px;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--white), 1);

                .dark-mode & {
                    background-color: rgba(var(--body-color), 1);
                }

                @media (max-width:600px) {
                    padding: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
                }

                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.grocery-tab {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    padding-inline: 15px;
    overflow-x: auto;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        width: 0;
    }

    li {
        margin-bottom: 15px;

        .category-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            border: none;
            background-color: transparent;
            padding: 0;

            &.active {
                .category-image {
                    background-color: rgba(var(--theme-color), 0.2);
                }

                .category-name {
                    color: rgba(var(--theme-color), 1);
                }

                .dark-mode & {
                    background-color: rgba(var(--body-color), 1);
                }
            }

            .category-image {
                width: 70px;
                height: 70px;
                @include flex_center;
                background-color: rgba(var(--light-bg), 1);
                border-radius: 10px;
            }
        }

        .category-name {
            margin-top: 8px;
            text-align: center;
            font-size: 14px;
            line-height: 1.3;
            font-weight: 500;
            color: rgba(var(--title-color), 1) !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}

/* ============================
chatting notification page CSS 
===============================*/

.chatting-tab {
    height: calc(100vh - 265px);

    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
        border-bottom: 1px solid rgba(var(--content-color), 0.15);
        --bs-nav-link-padding-x: 0;

        .nav-item {
            width: 100%;

            .nav-link {
                width: 100%;
                font-weight: 600;
                font-size: 16px;
                box-shadow: none;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                border: none;
                background-color: transparent;

                @media (max-width:600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }

                &.active {
                    font-weight: 700;
                    background-color: rgba(var(--light-blue), 1);
                    color: rgba(var(--white), 1);

                    body.dark-mode & {
                        color: rgba(var(--title-color), 1);
                    }
                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    .tab-content {
        height: 100%;
    }

    .toggle-notification-list {
        padding-block: 30px;

        @media (max-width:600px) {
            padding-block: calc(20px + (30 - 20) * ((100vw - 320px) / (600 - 320)));
        }

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            +li {
                margin-top: 25px;

                @media (max-width:600px) {
                    margin-top: calc(15px + (25 - 15) * ((100vw - 320px) / (600 - 320)))
                }
            }

            .bell-icon {
                --Iconsax-Color: rgba(var(--content-color), 1);
                --Iconsax-Size: 24px;
                background-color: rgba(var(--content-color), 0.11);
                padding: 10px;
                border-radius: 100%;

                @media (max-width:600px) {
                    --Iconsax-Size: calc(22px + (24 - 22) * ((100vw - 320px) / (600 - 320)));
                    padding: calc(7px + (10 - 7) * ((100vw - 320px) / (600 - 320)));
                }
            }

            &.unread {
                background-color: rgba(var(--content-color), 0.06);
                padding: 12px;
                border-radius: 8px;
            }
        }

        h4 {
            @include text-ellipsis($line: 1);
            font-size: 16px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);


            @media (max-width:600px) {
                font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)))
            }
        }

        h5 {
            @include text-ellipsis($line: 2);
            color: rgba(var(--content-color), 1);
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;

            @media (max-width:600px) {
                font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)))
            }
        }

        .notification-content {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            align-items: center;
            width: calc(100% - 10px - 44px);

            @media (max-width:600px) {
                width: calc(100% - 10px - calc(36px + (44 - 36) * ((100vw - 320px) / (600 - 320))));
            }

            h6 {
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: rgba(var(--content-color), 1);
                margin-top: 10px;
                text-align: right;
                min-width: 65px;

                @media (max-width:600px) {
                    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                    margin-top: calc(8px + (10 - 8) * ((100vw - 320px) / (600 - 320)));
                }

                &::after {
                    @include pseudowh(10px, 10px);
                    @include pos;
                    background: var(--theme-color);
                    border-radius: 100%;
                    top: -20px;
                    right: 6px;

                    @media (max-width:600px) {
                        width: calc(6px + (10 - 6) * ((100vw - 320px) / (600 - 320)));
                        height: calc(6px + (10 - 6) * ((100vw - 320px) / (600 - 320)));

                    }
                }
            }

        }

        .toggle-button {
            display: flex;
            position: relative;
            padding: 0;

            span {
                @include pseudowh(55px, 25px);
                display: flex;
                position: relative;
                background-color: rgba(var(--content-color), 0.09);
                transition: 0.5s;
                cursor: pointer;
                box-shadow: 0px 1px 4px 0px rgba(var(--content-color), 0.25);
                border-radius: 100px;

                @media (max-width:600px) {
                    @include pseudowh(calc(40px + (55 - 40) * ((100vw - 320px) / (600 - 320))), calc(20px + (25 - 20) * ((100vw - 320px) / (600 - 320))));
                }

                &::before {
                    @include pos;
                    @include pseudowh(15px, 15px);
                    top: 5px;
                    left: 5px;
                    border-radius: 100%;
                    background-color: rgba(var(--content-color), 0.5);
                    transition: 0.5s;

                    @media (max-width:600px) {
                        @include pseudowh(calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320))), calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320))));
                    }
                }
            }

            input[type="checkbox"] {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked+span {
                    background-color: rgba(var(--light-blue), 0.3);

                    &::before {
                        left: 35px;
                        background: var(--theme-color);

                        @media (max-width:600px) {
                            left: calc(26px + (35 - 26) * ((100vw - 320px) / (600 - 320)));
                        }
                    }
                }
            }
        }
    }

    .offcanvas-button {
        width: 100%;
        border: none;
        color: rgba(var(--error-color), 1);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        background-color: rgba(var(--error-color), 0.1);
        border: 1px solid rgba(var(--error-color), 0.6);
        padding: 18px;
        border-radius: 10px;
        line-height: 1;
        margin-top: 50px;

        @media (max-width:600px) {
            padding: calc(17px + (18 - 17) * ((100vw - 320px) / (600 - 320)));
            border-radius: calc(8px + (10 - 8) * ((100vw - 320px) / (600 - 320)));
            font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)));
            margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (600 - 320)));
        }
    }
}

.history-list {
    margin-top: 30px;

    @media (max-width:600px) {
        margin-top: calc(15px + (30 - 15) * ((100vw - 320px) / (600 - 320)))
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        color: rgba(var(--title-color), 1);
        text-align: left;

        @media (max-width:600px) {
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
        }
    }

    +h3 {
        margin-top: 40px;

        @media (max-width:600px) {
            margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (600 - 320)))
        }

    }

}

/* ===================
rating page CSS 
======================*/
.review-star {
    @include flex_center;
    gap: 10px;
    margin-bottom: 25px;

    @media (max-width:600px) {
        margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (600 - 320)));
        gap: calc(6px + (10 - 6) * ((100vw - 320px) / (600 - 320)));
    }

    img {
        width: 22px;

        @media (max-width:600px) {
            width: calc(18px + (22 - 18) * ((100vw - 320px) / (600 - 320)));
        }
    }

    h3 {
        color: rgba(var(--title-color), 1);
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;

        @media (max-width:600px) {
            font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (600 - 320)));
        }
    }
}

.star-rating {
    @include flex_center;
    gap: 6px;
    padding-block: 12px;

    img {
        width: 20px;
        height: 20px;
    }
}


.popular-review {
    margin-top: 18px;

    @media (max-width:600px) {
        margin-top: calc(10px + (18 - 10) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        width: 100%;

        +li {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid rgba(var(--content-color), 0.19);

            @media (max-width:600px) {
                margin-top: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
                padding-top: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .popular-rating {
            display: flex;
            align-items: center;
            gap: 20px;

            @media (max-width:600px) {
                gap: calc(8px + (20 - 8) * ((100vw - 320px) / (600 - 320)));
            }

            img {
                width: 14px;
            }

            h4 {
                @include text-ellipsis($line: 1);
                font-size: 17px;
                font-weight: 700;
                color: rgba(var(--title-color), 1);

                @media (max-width:600px) {
                    font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (600 - 320)));
                }
            }

            h6 {
                position: relative;
                font-size: 14px;
                font-weight: 500;
                color: rgba(var(--content-color), 1);
                margin-left: auto;

                @media (max-width:600px) {
                    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                }
            }
        }

        p {
            text-align: left;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 500;
            color: rgba(var(--title-color), 0.6);
            line-height: 1.5;

            @media (max-width:600px) {
                font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .thumb-track {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 18px;

            @media (max-width:600px) {
                margin-top: calc(10px + (18 - 10) * ((100vw - 320px) / (600 - 320)));
            }

            div {
                display: flex;
                gap: 6px;

                h5 {
                    color: rgba(var(--title-color), 0.6);
                    font-weight: 500;
                }
            }

        }
    }

    .tap-rate {
        .form-group {
            margin-top: 0;

            label {
                font-size: 16px;
                font-weight: 600;
                color: rgba(var(--title-color), 1);

                @media (max-width:600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }
            }

            input {
                margin-top: 8px;
                font-size: 14px;
                padding: 12px 8px;
                color: rgba(var(--title-color), 1);
                font-weight: 500;
                border: 1px solid rgba(var(--content-color), 0.23);

                &::placeholder {
                    color: rgba(var(--content-color), 1);
                }

                &:focus {
                    outline: none;
                }
            }
        }

        h4 {
            color: rgba(var(--title-color), 1);
            font-size: 18px;
            font-weight: 600;

            @media (max-width:600px) {
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));

            }
        }
    }
}

.load-more {
    text-align: center;
    margin: 40px auto 0;
    width: 100%;
    border-radius: 8px;

    .loadMore {
        background: var(--theme-color);
        color: rgba(var(--white), 1);
        border: none;
        font-weight: 600;
        opacity: 1;
        width: 100%;

        @media (max-width: 600px) {
            font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)));
        }
    }
}

.product-load-more {
    .col-grid-box {
        display: none;
    }
}


/* ================
Hotel Review tab
===================*/

.hotel-review-tab {
    margin-top: 10px;
    background-color: rgba(var(--white), 1);
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(var(--black), 0.03);

    .nav-tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border: none;
        flex-wrap: nowrap;

        li {
            width: 100%;

            +li {
                border-left: 1px solid rgba(var(--content-color), 0.29);

            }

            .nav-link {
                width: 100%;
                font-weight: 500;
                font-size: 16px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                border: none;
                background-color: transparent;
                padding: 0;

                @media (max-width:600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));

                }

                &.active {
                    color: rgba(var(--theme-color), 1);
                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }
}

.transport-box {
    margin-top: 20px;

    @media (max-width:600px) {
        margin-top: calc(15px + (20 - 15) * ((100vw - 320px) / (600 - 320)));
    }

    .transport-title {
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width:600px) {
            gap: calc(5px + (10 - 5) * ((100vw - 320px) / (600 - 320)));
        }

        .icon {
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 20px;
        }

        h5 {
            font-size: 16px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);

            @media (max-width:600px) {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));

            }
        }
    }

    h3 {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(var(--content-color), 1);

        @media (max-width:600px) {
            font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
            margin-top: calc(6px + (8 - 6) * ((100vw - 320px) / (600 - 320)));
        }
    }

    h4 {
        font-size: 14px;
        font-weight: 500;
        color: rgba(var(--content-color), 1);

        @media (max-width:600px) {
            font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
        }
    }

}

.attraction-list {
    padding-left: 22px;
    margin-top: 12px;

    li {
        display: list-item;
        list-style: disc;
        font-size: 14px;
        font-weight: 500;
        text-align: justify;
        color: rgba(var(--content-color), 1);
        line-height: 1.5;

        +li {
            margin-top: 12px;
        }
    }

}


.select-room-tab {
    margin-top: 24px;

    @media (max-width:600px) {
        margin-top: calc(15px + (24 - 15) * ((100vw - 320px) / (600 - 320)));

    }

    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        border: none;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }


        .nav-item {
            border-radius: 8px;
            background-color: rgba(var(--light-gray), 1);

            .nav-link {
                width: 100%;
                font-weight: 400;
                font-size: 14px;
                white-space: nowrap;
                color: rgba(var(--content-color), 1);
                background-color: rgba(var(--light-bg), 1);
                border: none;
                padding: 10px 12px;
                border-radius: 8px;

                &.active {
                    background-color: rgba(var(--theme-color), 1);
                    color: rgba(var(--white), 1);

                    body.dark-mode & {
                        color: rgba(var(--title-color), 1);
                    }
                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }

        }
    }

    .tab-content {
        margin-top: 20px;

        .room-slide-wrapper {
            border: 1px solid rgba(var(--theme-color), 0.1);
            border-radius: 12px;
            margin-top: 10px;

            .room-slide {

                img {
                    width: 100%;
                    height: 182px;
                    object-fit: cover;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                }

                .swiper-pagination {
                    position: relative;
                    margin-top: 10px;
                    inset: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .swiper-pagination-bullet {
                        @include pseudowh (8px, 8px);
                        background-color: rgba(var(--content-color), 0.46);
                        border-radius: 100px;
                        opacity: 1;
                    }

                    .swiper-pagination-bullet-active {
                        @include pseudowh (25px, 8px);
                        background-color: rgba(var(--theme-color), 1);
                    }
                }
            }

            .room-slide-content {
                background-color: rgba(var(--white), 1);
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                padding: 15px 10px 12px;

                h4 {
                    font-size: 14px;
                    font-weight: 700;
                    color: rgba(var(--title-color), 1);
                }

                h5 {
                    margin-top: 3px;
                    color: rgba(var(--theme-color), 1);
                    font-size: 14px;
                    font-weight: 700;

                    span {
                        color: rgba(var(--content-color), 1);
                        font-weight: 500;
                        font-size: 13px;
                    }

                    h6 {
                        font-size: 13px;
                        font-weight: 700;
                        color: rgba(var(--title-color), 1);
                    }
                }

                .hotel-room-size {
                    display: flex;
                    gap: 28px;
                    margin-top: 14px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img {
                            body.dark-mode & {
                                filter: invert(1);
                            }
                        }

                        h6 {
                            @include text-ellipsis($line:1);
                            font-size: 14px;
                            font-weight: 500;
                            color: rgba(var(--content-color), 1);
                        }
                    }
                }
            }
        }
    }
}

.hotel-category-panel {
    display: flex;
    padding: 12px;
    background-color: rgba(var(--white), 1);
    border: 1px solid rgba(var(--theme-color), 0.2);
    box-shadow: 0 2px 12px 0 rgba(var(--black), 0.03);
    border-radius: 10px;
    margin-top: 8px;

    li {
        width: 100%;

        +li {
            border-left: 1px solid rgba(var(--content-color), 0.29);
        }

        a {
            @include flex_center;
            gap: 6px;
            font-size: 16px;
            font-weight: 500;
            color: rgba(var(--title-color), 1);

            .icon {
                --Iconsax-Color: rgba(var(--title-color), 1);
                --Iconsax-Size: 14px;
            }
        }
    }
}


/* ==================
Blog tab 
======================*/
.blog-categories-tab {
    margin-top: 15px;

    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        border: none;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }


        .nav-item {
            width: 100%;
            border-radius: 8px;
            background-color: rgba(var(--content-color), 0.11);

            .nav-link {
                width: 100%;
                font-weight: 400;
                font-size: 14px;
                white-space: nowrap;
                color: rgba(var(--content-color), 1);
                background-color: rgba(242, 242, 242, 1);
                border: none;
                padding: 8px 12px;
                border-radius: 8px;

                body.dark-mode & {
                    background-color: rgba(var(--white), 1);

                    &.active {
                        color: rgba(var(--title-color), 1);
                        background-color: rgba(var(--theme-color), 1);
                    }
                }

                &.active {
                    font-weight: 400;
                    background-color: rgba(var(--theme-color), 1);
                    color: rgba(var(--white), 1);
                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }

        }
    }

}

/* =================
learning tab CSS 
====================*/
.learning-course-tab {
    .nav-tabs {
        display: flex;
        gap: 15px;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        border-bottom: 1px solid rgba(var(--content-color), 0.15);

        .nav-item {
            width: 100%;

            .nav-link {
                position: relative;
                width: 100%;
                font-weight: 400;
                font-size: 18px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                border: none;
                background-color: transparent;

                &.active {
                    font-weight: 500;
                    color: rgba(var(--theme-color), 1);

                    &::before {
                        @include pos;
                        width: 120px;
                        height: 5px;
                        background-color: rgba(var(--theme-color), 1);
                        border-top-left-radius: 50px;
                        border-top-right-radius: 50px;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);

                        @media (max-width:600px) {
                            width: calc(60px + (120 - 60) * ((100vw - 320px) / (600 - 320)));

                        }
                    }

                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    .about-detail-tab {
        margin-top: 24px;

        .custom-collapse-box {
            &.open {
                .custom-box {
                    height: auto;
                }

                .toggle-arrow {
                    &::before {
                        background: transparent !important;
                    }

                    i {
                        transform: rotate(180deg);
                    }
                }
            }

            .custom-box {
                height: 70px;
                overflow: hidden;

                p {
                    color: rgba(var(--content-color), 1);

                    +p {
                        margin-top: 10px;
                    }
                }
            }

            .toggle-arrow {
                text-align: center;
                position: relative;
                z-index: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 70px;
                    background: linear-gradient(360deg, rgb(246 247 246) 0%, rgb(246 247 246 / 37%) 100%);
                    z-index: -1;

                    body.dark-mode & {
                        background: linear-gradient(360deg, rgb(49 49 49) 0%, rgb(49 49 49 / 41%) 100%);

                    }
                }

                .icon {
                    --Iconsax-Color: rgba(var(--title-color), 1);
                    --Iconsax-Size: 24px;
                }

            }
        }

    }


}

/* ================
wishlist tab CSS 
===================*/
.learn-wishlist-tab-wrapper {
    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
        border: none;
        padding-bottom: 14px;
        gap: 10px;

        &::-webkit-scrollbar {
            width: 0;
        }

        @media (max-width:600px) {
            padding-bottom: calc(5px + (14 - 5) * ((100vw - 320px) / (600 - 320)));
        }

        .nav-item {
            width: 100%;
            max-width: 130px;


            .nav-link {
                position: relative;
                width: 100%;
                font-weight: 400;
                font-size: 14px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--content-color), 0.05);
                box-shadow: 2px 2px 0 0 rgba(var(--title-color), 1);
                border-radius: 8px;
                border: none;
                padding-block: 10px;

                body.dark-mode & {
                    box-shadow: 2px 2px 0 0 rgb(0, 0, 0);
                }

                @media (max-width:600px) {
                    padding-block: calc(6px + (8 - 6) * ((100vw - 320px) / (600 - 320)));
                }

                &.active {
                    font-weight: 500;
                    color: rgba(var(--white), 1);
                    background-color: rgba(var(--theme-color), 1);

                    body.dark-mode & {
                        color: rgba(var(--title-color), 1);
                    }
                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    .tab-content {
        height: 100%;
    }


}

/* ===================
learn notification CSS 
======================*/
.learn-notification-list {
    margin-top: 15px;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        +li {
            margin-top: 10px;
        }

        &.unread {
            border: none;
            background-color: rgba(var(--content-color), 0.08);
            border-radius: 10px;
        }

        img {
            @include pseudowh(50px, 50px);
            object-fit: cover;
            border-radius: 100%;
        }

        .learn-notification-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 50px - 10px);

            h4 {
                font-size: 16px;
                font-weight: 500;
                color: rgba(var(--title-color), 1);
            }

            h5 {
                margin-top: 4px;
                font-size: 14px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);
            }

            h6 {
                @include text-ellipsis($line: 1);
                font-size: 13px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);
            }
        }
    }
}

/* ===================
fitness tab CSS 
===================*/
.fitness-tab {
    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
        border: none;
        gap: 10px;

        &::-webkit-scrollbar {
            width: 0;
        }

        @media (max-width:600px) {
            padding-bottom: calc(5px + (14 - 5) * ((100vw - 320px) / (600 - 320)));
        }

        .nav-item {
            width: 100%;

            .nav-link {
                position: relative;
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                background-color: rgba(var(--bg-color), 1);
                border-radius: 8px;
                border: none;
                padding-block: 10px;

                @media (max-width:600px) {
                    padding-block: calc(6px + (8 - 6) * ((100vw - 320px) / (600 - 320)));
                }

                &.active {
                    font-weight: 500;
                    color: rgba(var(--black-color), 1);
                    background-color: rgba(var(--theme-color), 1);
                }

                &:hover {
                    border: none;
                }

                &:focus {
                    border-color: transparent;
                }
            }
        }
    }

    .fitness-premium-plant-list {
        margin-top: 25px;

        li {
            background-color: rgba(var(--bg-color), 1);
            border-radius: 10px;
            padding: 15px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width:600px) {
                padding: calc(12px + (15 - 12) * ((100vw - 320px) / (600 - 320))) calc(8px + (10 - 8) * ((100vw - 320px) / (600 - 320)));
            }


            +li {
                margin-top: 20px;

                @media (max-width:600px) {
                    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (600 - 320))), calc(8px + (10 - 8) * ((100vw - 320px) / (600 - 320)));
                }
            }

            .premium-plant-content {
                h5 {
                    @include text-ellipsis($line: 1);
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(var(--content-color), 1);
                }

                h6 {
                    max-width: 85px;
                    font-size: 14px;
                    font-weight: 400;
                    background-color: rgba(var(--white), 1);
                    padding-block: 6px;
                    border-radius: 50px;
                    color: rgba(var(--black-color), 1);
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    margin-top: 19px;
                    justify-content: center;

                    @media (max-width:600px) {
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                        margin-top: calc(10px + (19 - 10) * ((100vw - 320px) / (600 - 320)));
                    }

                    .icon {
                        --Iconsax-Color: rgba(var(--black-color), 1);
                        --Iconsax-Size: 18px;

                        @media (max-width:600px) {
                            --Iconsax-Size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
                        }
                    }
                }

                h3 {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgba(var(--theme-color), 1);

                    @media (max-width:600px) {
                        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
                    }

                    span {
                        font-size: 14px;
                        color: rgba(var(--content-color), 1);
                    }
                }

                h4 {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(var(--content-color), 1);

                    @media (max-width:600px) {
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                        margin-top: calc(5px + (10 - 5) * ((100vw - 320px) / (600 - 320)));
                    }

                    .icon {
                        --Iconsax-Color: rgba(var(--content-color), 1);
                        --Iconsax-Size: 20px;

                        @media (max-width:600px) {
                            --Iconsax-Size: calc(16px + (20 - 16) * ((100vw - 320px) / (600 - 320)))
                        }
                    }
                }

            }

            img {
                width: 100px;
                height: 70px;
                object-fit: contain;

                @media (max-width:600px) {
                    width: calc(80px + (100 - 80) * ((100vw - 320px) / (600 - 320)));
                    height: calc(50px + (70 - 50) * ((100vw - 320px) / (600 - 320)));
                }
            }
        }

    }
}

/* ============= 
jewellery tab
================*/
.gold-login-page {
    h3 {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }

    .nav-tabs {
        display: flex;
        gap: 15px;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        border: none;
        margin-top: 12px;
        background-color: rgba(var(--bg-color), 1);
        border-radius: 6px;
        padding: 5px;

        .nav-item {
            width: 100%;

            .nav-link {
                position: relative;
                width: 100%;
                font-weight: 400;
                font-size: 18px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                border: none;
                border-radius: 6px;

                @media (max-width:600px) {
                    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
                }

                &.active {
                    background-color: rgba(var(--theme-color), 1);
                    font-weight: 500;
                    color: rgba(var(--white), 1);
                }
            }


            &:hover {
                border: none;
            }

            &:focus {
                border-color: transparent;
            }
        }
    }
}

/* =============
salon Tabs
==============*/
.salon-course-tab {
    padding-top: 29px;

    @media (max-width:600px) {
        padding-top: calc(20px + (29 - 20) * ((100vw - 320px) / (600 - 320)));
    }

    .nav-tabs {
        display: flex;
        gap: 25px;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        border-bottom: 1px solid rgba(var(--content-color), 0.15);

        .nav-item {
            width: 100%;

            .nav-link {
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                white-space: nowrap;
                color: rgba(var(--title-color), 1);
                border: 5px solid transparent;
                border-top: none;
                border-inline: none;
                background-color: transparent;
                transition: all 0.2s ease-in-out;

                &.active {
                    border-bottom: 5px solid rgba(var(--theme-color), 1);
                    font-weight: 600;
                    color: rgba(var(--theme-color), 1);
                }

                &:focus {
                    border-bottom: 5px solid rgba(var(--theme-color), 1);
                }
            }
        }
    }

    .about-detail-tab {
        margin-top: 24px;


        .custom-collapse-box {
            &.open {
                .custom-box {
                    height: auto;
                }

                .toggle-arrow {
                    &::before {
                        background: transparent !important;
                    }

                    i {
                        transform: rotate(180deg);
                    }
                }
            }

            .custom-box {
                height: 70px;
                overflow: hidden;

                p {
                    color: rgba(var(--content-color), 1);

                    +p {
                        margin-top: 10px;
                    }
                }
            }

            .toggle-arrow {
                text-align: center;
                position: relative;
                z-index: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 70px;
                    background: linear-gradient(360deg, rgb(246 247 246) 0%, rgb(246 247 246 / 37%) 100%);
                    z-index: -1;

                    body.dark-mode & {
                        background: linear-gradient(360deg, rgb(49 49 49) 0%, rgb(49 49 49 / 41%) 100%);

                    }
                }

                .icon {
                    --Iconsax-Color: rgba(var(--title-color), 1);
                    --Iconsax-Size: 24px;
                }

            }
        }


    }
}