/*=======================
5.5 food SCSS
=========================*/
.food {
    background-color: rgba(var(--white), 1);

    &.dark-mode {
        background-color: rgba(var(--second-color), 1);
    }
}

.map-text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(var(--content-color), 1);
}

.map-bg-image {
    position: relative;
    display: flex;
    justify-content: center;
    margin-block: 60px 0;

    @media (max-width:600px) {
        margin-block: calc(20px + (60 - 20) * ((100vw - 320px) / (600 - 320)));

    }

    .map-img {
        position: absolute;
        top: 50%;
        left: 50%;
        animation: bonus-map 0.6s ease-in-out infinite alternate;
    }
}

.hero-section {
    img {
        border-radius: 12px;
    }
}

.food-category-box {
    @include flex_center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(var(--bg-color), 1);
    transition: all 0.2s ease-in-out;
    padding-block: 9px;
    border: 1px solid transparent;

    img {
        height: 40px;
    }

    h4 {
        margin-top: 10px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: rgba(var(--dark-bg), 1);
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        border-color: rgba(var(--theme-color), 1);

        h4 {
            color: rgba(var(--theme-color), 1);

        }

    }
}

.food-brand-main-box {
    padding-top: 22px;
    overflow: hidden;

    .food-brand-box {
        @include flex_center;
        flex-direction: column;
        border-radius: 8px;
        background-color: rgba(var(--bg-color), 1);
        border-radius: 12px;
        position: relative;

        .food-brand-image {
            @include flex_center;
            @include pseudowh(55px, 55px);
            border-radius: 100px;
            background-color: rgba(var(--bg-color), 1);
            border: 3px solid rgba(var(--white), 1);
            position: relative;
            z-index: 0;
            margin-top: -20px;

            .dark-mode & {
                border-color: rgba(var(--second-color), 1);
            }

            .brand-round {
                animation: round 6s linear infinite;
            }

            .percent {
                padding: 18px;

            }

            img {
                position: absolute;
                padding: 7px;
                z-index: -1;
                min-width: 50px;
                min-height: 50px;
                object-fit: contain;

                @media (max-width:600px) {
                    padding: calc(5px + (7 - 5) * ((100vw - 320px) / (600 - 320)));
                }
            }

            svg {
                @include pseudowh(18px, 18px);
                @include flex_center;
                fill: rgba(var(--white), 1);
                stroke: rgba(var(--white), 1);
            }
        }

        .divider-container {
            @include flex_center;
            position: relative;
            width: 100%;
            display: none;

            .divider {
                width: 90%;
                height: 1px;
                border-bottom: 1px dashed rgba(var(--border), 1);
                position: relative;
                margin-block: 14px;
            }

            &::before,
            &::after {
                content: "";
                @include pseudowh(20px, 20px);
                position: absolute;
                background: rgba(var(--white), 1);
                border-radius: 12px;
                right: -21px;
                top: 4px;

                @media (max-width:600px) {
                    top: calc(0px + (4 - 0) * ((100vw - 320px) / (600 - 320)));

                }
            }


            &::before {
                left: -12px;
            }
        }

        .food-brand-contant {
            text-align: center;
            padding-bottom: 8px;
            width: 100%;
            border-top: 1px dashed rgba(var(--border), 1);
            position: relative;
            margin-top: 14px;
            padding-top: 14px;
            padding-inline: 5px;

            @media (max-width:600px) {
                margin-top: calc(10px + (14 - 10) * ((100vw - 320px) / (600 - 320)));
                padding-top: calc(10px + (14 - 10) * ((100vw - 320px) / (600 - 320)));
            }

            &::before,
            &::after {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                background: rgba(var(--white), 1);
                border-radius: 12px;
                top: -10px;

                .dark-mode & {
                    background-color: rgba(var(--second-color), 1);
                }
            }

            &::before {
                right: -10px;
            }

            &:after {
                left: -10px;
            }

            h6 {
                font-weight: 600;
                line-height: 23px;
                color: rgba(var(--dark-bg), 1);
            }

            h5 {
                font-size: 12px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);
            }
        }


    }
}



.food-restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

    li {
        width: 100%;
        background-color: rgba(var(--bg-color), 1);
        box-shadow: 0 0 9.8px 1px rgba(var(--bg-color), 1);
        padding: 12px 10px;
        display: flex;
        align-items: center;
        gap: 11px;
        border-radius: 13px;

        .food-image {
            @include pseudowh(73px, 73px);
            border-radius: 10px;
            overflow: hidden;

            img {
                @include pseudowh;
                object-fit: cover;
                transition: all 0.2s ease-in-out;
            }
        }

        .food-list-details {
            width: calc(100% - 73px - 9px);
            position: relative;

            .food-content-rate {
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(var(--dark-bg), 1);
                    transition: all 0.2s ease-in-out;
                    margin-bottom: 4px;

                    @media (max-width:600px) {
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                    }
                }

                h6 {
                    font-size: 13px;
                    font-weight: 400;
                    color: rgba(var(--content-color), 1);
                }
            }

            .food-min-content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 12px;
                margin-top: 10px;

                @media (max-width:600px) {
                    gap: calc(6px + (12 - 6) * ((100vw - 320px) / (600 - 320)));
                }

                li {
                    width: unset;
                    display: flex;
                    align-items: flex-start;
                    gap: 6px;
                    background: transparent;
                    box-shadow: none;
                    font-size: 13px;
                    font-weight: 500;
                    color: rgba(var(--title-color), 1);
                    padding: 0;

                    &::after {
                        content: none !important;
                    }

                    &:not(:last-child)::after {
                        @include pos;
                        width: 1px;
                        height: 12px;
                        background: #ddd;
                        left: 77px;
                        margin-top: 3px;

                        @media (max-width:600px) {
                            left: calc(75px + (77 - 75) * ((100vw - 320px) / (600 - 320)));
                        }

                        [dir="rtl"] & {
                            left: unset;
                            right: 77px;

                            @media (max-width:600px) {
                                right: calc(75px + (77 - 75) * ((100vw - 320px) / (600 - 320)));
                            }
                        }
                    }

                    svg {
                        width: 15px;
                        height: 15px;
                        fill: rgba(var(--theme-color), 1);
                    }
                }

                .order-button {
                    background-color: rgba(var(--theme-color), 1);
                    padding: 6px 12px;
                    border-radius: 8px;
                    color: rgba(var(--dark-bg), 1);
                    font-size: 13px;
                    font-weight: 500;
                    margin: 0;

                    .dark-mode & {
                        color: rgba(var(--bg-color), 1);
                    }
                }

                .dollar {
                    margin-left: auto;
                    font-size: 16px;
                    font-weight: 600;
                    color: rgba(var(--theme-color), 1);
                }

                .free {
                    color: rgba(var(--green), 1);
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: auto;

                    @media (max-width:385px) {
                        margin-inline: 0 auto;

                    }
                }
            }
        }

        .rating-box {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 4px;
            padding: 4px 10px;
            border-radius: 100px;
            background-color: rgba(var(--theme-color), 0.1);
            font-size: 13px;

            .dark-mode & {
                background-color: rgba(var(--second-color), 1);
            }

            [dir="rtl"] & {
                right: unset;
                left: 0;
            }

            svg {
                @include pseudowh (12px, 12px);
                fill: rgba(var(--theme-color), 1);
            }

            h6 {
                font-size: 12px;
                font-weight: 500;
                color: rgba(var(--dark-bg), 1);
            }
        }

        @media (max-width:600px) {
            padding-inline: calc(5px + (12 - 5) * ((100vw - 320px) / (600 - 320)));
        }

        &:hover {
            .food-image {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

}

.slider-after {
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    &::before {
        content: "";
        z-index: 1;
        width: 100%;
        top: 0;
        position: absolute;
        height: 184px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.94) -14.13%, rgba(0, 0, 0, 0.03) 113.32%);

    }

    .swiper {
        z-index: unset;

        .swiper-wrapper {
            z-index: unset;
        }
    }

    img {
        height: 184px;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .swiper-pagination {
        bottom: 0;
        top: unset;

        .swiper-pagination-bullet {
            background-color: rgba(var(--white), 0.48);
            opacity: 1;
            margin-inline: 6px;
            @include pseudowh(10px, 10px);
            border-radius: 100%;

            &-active {
                background-color: rgba(var(--white), 1);
                outline: 1px solid rgba(var(--white), 1);
                outline-offset: 2px;
            }
        }
    }
}


.restaurant-slider-detail {
    .switch-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-switch {
            [dir="rtl"] & {
                padding-right: 40px;
                padding-left: unset;
            }
        }

        h6 {
            font-size: 18px;
            font-weight: 700;
            color: rgba(var(--dark-bg), 1);
        }

        .custom-switch {
            .form-check-input {
                @include pseudowh (50px, 18px);
                background-image: none;
                background-color: rgba(var(--green), 1);
                border: none;
                border-radius: 50px;
                position: relative;
                transition: background-color .3s ease;
                box-shadow: none;
                margin: 0;
                filter: none;

                &:focus {
                    box-shadow: none;
                }

                &::before {
                    @include pos;
                    @include flex_center;
                    top: 50%;
                    left: -1px;
                    width: 23px;
                    transform: translateY(-50%);
                    height: 23px;
                    background-color: rgba(var(--white), 1);
                    border-radius: 50%;
                    z-index: 2;
                    transition: all .3s ease-in-out;
                    filter: none;
                    border: 2px solid rgba(var(--green), 1);
                }

                &::after {
                    @include pos;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 8%;
                    width: 13px;
                    height: 13px;
                    background-color: rgba(var(--green), 1);
                    border-radius: 3px;
                    z-index: 3;
                    transition: all .3s ease-in-out;
                }

                &:checked {
                    background-color: rgba(var(--error-color), 1);

                    &::before {
                        transform: translateX(30px) translateY(-50%);
                        border-color: rgba(var(--error-color), 1);
                    }

                    &::after {
                        transform: translateX(30px) translateY(-50%);
                        background-color: rgba(var(--error-color), 1);
                    }
                }
            }
        }

    }

    .restaurant-detail-time {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 20px;

        li {
            display: flex;
            align-items: center;

            svg {
                @include pseudowh(16px, 16px);
                fill: rgba(var(--theme-color), 1);
            }

            h6 {
                margin-left: 5px;
                font-weight: 500;
                font-size: 15px;
                color: rgba(var(--dark-bg), 1);

                [dir="rtl"] & {
                    margin-right: 5px;
                    margin-left: unset;
                }
            }
        }
    }

    p {
        margin-top: 10px;
        color: rgba(var(--content-color), 1);
        line-height: 23px;
    }
}

.food-banner-box {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 15px 15px 30px 0 rgba(var(--bg-color), 1);

    .dark-mode & {
        box-shadow: none;

    }

    .food-banner-image {
        width: 100%;
        height: 120px;
        background-image: url("/assets/images/food/banner/2.png");
        position: relative;
        display: flex;
        align-items: center;

        h2 {
            width: 100%;
            text-align: center;
            color: rgba(var(--white), 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;

            span {
                font-weight: 600;
                color: rgba(var(--theme-color), 1);

            }

            svg {
                @include pseudowh (12px, 12px);
                fill: rgba(var(--theme-color), 1);
                margin-bottom: 3px;

            }

            @media (max-width:467px) {
                width: 100%;
                padding-inline: 25px;

            }
        }
    }

    .food-banner-contant {
        @include flex_center(flex, center, space-between);
        background-color: rgba(var(--bg-color), 1);
        padding: 14px 19px;
        position: relative;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .food-banner-detail {
            padding-left: 6px;

            h5 {
                font-size: 16px;
                font-weight: 700;
                color: rgba(var(--dark-bg), 1);

                @media (max-width:600px) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }
            }

            h6 {
                font-size: 14px;
                margin-top: 5px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);

                @media (max-width:600px) {
                    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                }
            }
        }

        .left-side {
            --Iconsax-Color: rgba(var(--dark-bg), 1);
            --Iconsax-Size: 22px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: rgba(var(--white), 1);
            border-radius: 12px;
            right: -9px;
            top: 21px;

            .dark-mode & {
                background-color: rgba(var(--second-color), 1);
            }
        }

        &::after {
            left: -9px;
        }

    }

    .food-map-image {
        width: 100%;
        height: 120px;
        background-image: url("/assets/images/food/map/3.png");

    }

    .food-order-map {
        width: 100%;
        height: 200px;
        cursor: pointer;
        overflow: hidden;


        @media (max-width:600px) {
            height: calc(100px + (200 - 100) * ((100vw - 320px) / (600 - 320)));

        }
    }

    .food-map-contant {
        @include flex_center(flex, center, space-between);
        background-color: rgba(var(--white), 1);
        padding: 14px 20px;

        .dark-mode & {
            background-color: rgba(var(--bg-color), 1);
        }

        .food-map-detail {
            width: calc(100% - 70px - 10px);

            h5 {
                font-size: 14px;
                font-weight: 600;
                color: rgba(var(--dark-bg), 1);
            }

            h6 {
                font-size: 12px;
                margin-top: 5px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);
            }
        }

        .min-card {
            background-color: rgba(var(--theme-color), 1);
            border-radius: 6px;
            padding: 6px 8px;
            font-size: 12px;
            font-weight: 500;
            color: rgba(var(--dark-bg), 1);
        }

        a {
            @include pseudowh(26px, 26px);
            @include flex_center(flex, center, center);
            background-color: rgba(var(--theme-color), 1);
            border-radius: 50px;

            .edit-icon {
                --Iconsax-Color: rgba(var(--white), 1);
                --Iconsax-Size: 17px;
            }

            span {
                color: rgba(var(--dark-bg), 1);
            }
        }
    }
}

.food-bill-list {

    li+li {
        margin-top: 12px;
    }

    li {
        width: 100%;
        @include flex_center(flex, center, space-between);
        color: rgba(var(--content-color), 1);
        font-weight: 500;
        font-size: 14px;

        a {
            color: rgba(var(--error-color), 1);
        }

    }

    .food-total-bill {
        background-color: rgba(var(--bg-color), 1);
        padding: 14px 10px;
        border-radius: 7px;
        font-weight: 700;
        font-size: 16px;
        color: rgba(var(--dark-bg), 1);

    }
}

.food-payment-listing {
    padding: 15px;
    background-color: rgba(var(--white), 1);
    border-radius: 13px;
    box-shadow: 0 0 9.8px 1px rgba(var(--bg-color), 1);

    body.dark-mode & {
        background-color: rgba(var(--bg-color), 1);
    }


    .food-payment-card {
        border-radius: 13px;
        box-shadow: 0 0 9.8px 1px rgba(var(--bg-color), 1);
        border: 0;
        padding-top: 20px;
        margin-bottom: 15px;

        @media (max-width:600px) {
            margin-bottom: calc(12px + (15 - 12) * ((100vw - 320px) / (600 - 320)));
        }
    }

    input[type=radio] {
        display: block;
    }

    li {
        width: 100%;
        padding-bottom: 20px;
        padding-inline: 10px;

        @media (max-width:600px) {
            padding-bottom: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
        }

        &:nth-child(2) {
            body.dark-mode & {
                img {
                    filter: brightness(0) invert(1);
                }
            }

        }

        +li {
            border-top: 1px dashed rgba(var(--border-color), 1);
            padding-top: 20px;

            @media (max-width:600px) {
                padding-bottom: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
            }
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }

        .form-check {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .form-check-label {
                width: 100%;
                @include flex_common;
                gap: 10px;
                width: 100%;

                .payment-img {
                    @include flex_center;
                    @include pseudowh(55px, 44px);
                    padding: 8px;
                }

                .payment-image {
                    @include flex_center;
                    @include pseudowh(55px, 44px);
                    background-color: rgba(var(--bg-color), 1);
                    padding: 8px;
                    border-radius: 6px;

                }

                .payment-content {
                    display: block;

                    .cash-payment {
                        display: block;
                        font-weight: 500;
                        font-size: 14px;
                        font-family: $lato;
                    }

                    .payment-account {
                        display: block;
                        font-size: 14px;
                        font-weight: 600;
                        color: rgba(var(--dark-bg), 1);
                    }

                    .payment-expire {
                        font-size: 13px;
                        font-weight: 400;
                        color: rgba(var(--content-color), 1);
                    }
                }
            }

            .form-check-input {
                @include pseudowh(20px, 20px);
                float: unset;
                margin: 0;
                border: 1px solid rgba(var(--content-color), 1);
                background-color: transparent;
                transition: all 0.3s ease-in-out;
                filter: none;
                cursor: pointer;

                &:checked {
                    background-color: rgba(var(--theme-color), 1);
                    border-color: rgba(var(--theme-color), 1);
                }

                &:focus {
                    border-color: rgba(var(--border-color), 1);
                    box-shadow: none;
                }
            }

            [type="radio"] {
                border-radius: 100%;
                position: relative;

                &:checked {
                    background-color: transparent;
                    border: 1px solid rgba(var(--theme-color), 1);

                    &::after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background-color: rgba(var(--theme-color), 1);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

.new-card-box {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    border: 1px dashed rgba(var(--theme-color), 1);
    border-radius: 6px;

    .plus-icon {
        margin-right: 6px;
        --Iconsax-Color: rgba(var(--theme-color), 1);
        --Iconsax-Size: 20px;
    }
}

.food-order-list {
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;

    li {
        width: 100%;
        display: flex;
        align-items: center;

        +li {
            margin-top: 35px;
        }


        .bg-lighter-primary {
            z-index: 1;
            border-radius: 50px;
            @include pseudowh(15px, 15px);
            outline: 4px solid rgba(var(--content-color), 0.30);
            border: 1px solid rgba(var(--white), 1);
            background-color: rgba(var(--dark-bg), 1);
            transition: all 0.3s ease;

            .dark-mode & {
                background-color: rgba(var(--bg-color), 1);
            }
        }

        .food-order-contant {
            width: calc(100% - 26px - 47px);

            .order-title {
                margin-left: 15px;

                [dir="rtl"] & {
                    margin-right: 15px;
                    margin-left: unset;
                }

                h5 {
                    margin-bottom: 3px;
                    color: rgba(var(--dark-bg), 1);
                    font-size: 14px;
                    font-weight: 500;
                    transition: color 0.3s ease;
                }

                span {
                    color: rgba(var(--content-color), 1);
                    font-size: 12px;
                    font-weight: 400;
                    transition: color 0.3s ease;
                }
            }
        }

        h6 {
            color: rgba(var(--content-color), 1);
            transition: color 0.3s ease;
        }

        &::after {
            @include pos;
            border-right: 1px dashed rgba(var(--content-color), 0.3);
            height: 80%;
            top: 28px;
            left: 7px;

            [dir="rtl"] & {
                right: 7px;
                left: unset;
            }

        }


        &.active {
            .bg-lighter-primary {
                background-color: rgba(var(--theme-color), 1);
                outline: 4px solid rgba(var(--theme-color), 0.3);
            }

            &::after {
                border-right: 1px dashed rgba(var(--theme-color), 1);
            }

            .order-title {

                h5 {
                    color: rgba(var(--theme-color), 1);
                }
            }

            h6 {
                color: rgba(var(--theme-color), 1);
            }
        }
    }
}

.driver-chat-header {
    max-width: 600px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(var(--white), 1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 15px 15px 30px 0 rgba(var(--bg-color), 1);

    .dark-mode & {
        background-color: rgba(var(--second-color), 1);
    }

    .driver-contant {
        display: flex;
        align-items: center;
        padding: 15px;

        img {
            height: 58px;
            object-fit: contain;
            border-radius: 5px;
            margin-left: 10px;
        }

        .driver-user-info {
            width: calc(100% - 50px);
            margin-left: 10px;

            h5 {
                font-weight: 600;
                font-size: 16px;
                color: rgba(var(--dark-bg), 1);

                @media (max-width:600px) {
                    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (600 - 320)));
                }
            }

            span {
                font-weight: 400;
                font-size: 14px;
                color: rgba(var(--content-color), 1);

            }
        }

        .call-icon {
            --Iconsax-Color: rgba(var(--dark-bg), 1);
            --Iconsax-Size: 24px;
        }

        .back-icon {
            --Iconsax-Color: rgba(var(--title-color), 1);
            --Iconsax-Size: 22px;
        }
    }
}

.chat-message-box {
    .left-chat-box {
        width: 100%;
        text-align: left;

        .left-chat-contant {
            max-width: calc(100% - 100px);
            margin-left: auto;
            display: inline-block;
            background-color: rgba(var(--bg-color), 1);
            padding: 10px 20px;
            border-radius: 6px;
            position: relative;

            @media (max-width:600px) {
                padding-block: calc(8px + (10 - 8) * ((100vw - 320px) / (600 - 320)));
                padding-inline: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));

            }

            span {
                font-size: 14px;
                font-weight: 400;
                color: rgba(var(--dark-bg), 1);
                word-wrap: break-word;

            }

            &::before {
                @include pos;
                top: 50%;
                transform: translateY(-50%);
                right: -14px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 14px solid rgba(var(--bg-color), 1);

            }
        }

        .chat-time {
            margin-top: 4px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);
        }

    }


    .right-chat-box {
        display: block;
        margin-bottom: 15px;

        .right-chat-body {
            text-align: right;

            .right-chat-contant {
                max-width: calc(100% - 100px);
                margin-left: auto;
                display: inline-block;
                text-align: left;
                background-color: rgba(var(--theme-color));
                padding: 10px 20px;
                border-radius: 6px;
                position: relative;

                @media (max-width:600px) {
                    padding-block: calc(8px + (10 - 8) * ((100vw - 320px) / (600 - 320)));
                    padding-inline: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
                }

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(var(--dark-bg), 1);
                    word-wrap: break-word;
                }

                &::after {
                    @include pos;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -14px;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-right: 14px solid rgba(var(--theme-color), 1);
                }
            }

            .chat-time {
                margin-top: 4px;
                font-size: 12px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);
                text-align: right;
            }
        }

    }

}

.chat-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    background-color: rgba(var(--white), 1);

    .dark-mode & {
        background-color: rgba(var(--second-color), 1);
    }

    .chat-input {
        width: 100%;
        padding-block: 12px;
        padding-right: 40px;
        padding-left: 20px;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
        border: 0;
        color: rgba(var(--title-color), 1);
        background-color: rgba(var(--bg-color), 1);

        [dir="rtl"] & {
            padding-left: 40px;
            padding-right: 20px;
        }

        @media (max-width:600px) {
            padding-right: calc(30px + (40 - 30) * ((100vw - 320px) / (600 - 320)));
            padding-left: calc(8px + (20 - 8) * ((100vw - 320px) / (600 - 320)));
        }

    }

    .input-icon {
        cursor: pointer;
        position: absolute;
        right: 14%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: rgba(var(--content-color), 1);

        @media (max-width:375px) {
            right: 25%;
        }

        [dir="rtl"] & {
            right: unset;
            left: 14%;
        }

        .clip-icon {
            --Iconsax-Color: rgba(var(--content-color), 1);
            --Iconsax-Size: 20px;
        }

        .chat-icon {
            position: absolute !important;
            transform: translate(-16px, -40px) !important;
            border: none;
            background-color: transparent;
            margin-top: 20px;

            [dir="rtl"] & {
                transform: translate(-77%, -40px) !important;

            }



            .dropdown-item {
                @include pseudowh(47px, 47px);
                border-radius: 50%;
                background-color: rgba(var(--white), 1);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
                box-shadow: -2px 6px 8px 0px rgba(var(--bg-color), 1);
                border: none;

                &:hover {
                    background-color: rgba(var(--theme-color));

                    .clip-icon {
                        --Iconsax-Color: rgba(var(--white), 1);
                    }
                }
            }
        }
    }


    .send-btn {
        @include flex_center;
        background-color: rgba(var(--theme-color), 1);
        border: none;
        padding: 10px;
        border-radius: 12px;
        cursor: pointer;

        .send-icon {
            --Iconsax-Color: rgba(var(--dark-bg), 1);
            --Iconsax-Size: 28px;
        }
    }


}

.order-map {
    background-color: transparent;

    .back-icon {
        --Iconsax-Color: rgba(var(--dark-bg), 1);
        --Iconsax-Size: 22px;
    }
}

.driver-location-image {
    img {
        width: 100%;
        height: 711px;
        object-fit: cover;
    }
}

.food-categories-section {
    .food-categories-box {
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        @media (max-width:600px) {
            margin-bottom: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
        }

        .categories-bg-img {
            position: absolute;
            width: calc(100% - 40px);
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;

            img {
                width: 100%;
                height: 70px;

                [dir="rtl"] & {
                    transform: scale(-1);
                }
            }
        }

        .food-categories-content {
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: space-between;
            padding-left: 28px;

            @media (max-width:600px) {
                padding-left: calc(20px + (28 - 20) * ((100vw - 320px) / (600 - 320)));
            }
        }


        h5 {
            font-size: 16px;
            font-weight: 600;
            color: rgba(var(--dark-bg), 1);
            margin-bottom: 3px;
        }

        span {
            font-weight: 500;
            font-size: 14px;
            color: rgba(var(--content-color), 1);

            @media (max-width:320px) {
                font-size: 13px;

            }
        }

        .food-categories-image {
            width: 80px;
            height: 80px;

            img {
                @include pseudowh;
                object-fit: contain;
            }
        }

    }
}

.food-order-details {
    margin-top: 8px;
    position: relative;

    li {
        padding: 20px 10px;
        display: flex;
        align-items: center;
        gap: 16px;


        .bg-lighter-primary {
            @include pseudowh(50px, 50px);
            @include flex_center;
            z-index: 1;
            border-radius: 100%;
            background-color: rgba(var(--bg-color), 1);

            .menu-icon {
                --Iconsax-Color: rgba(var(--dark-bg), 1);
                --Iconsax-Size: 28px;
            }

            .speed-star {
                @include pseudowh(28px, 28px);
                stroke: rgba(var(--dark-bg), 1);
            }
        }

        .food-order-contant {
            width: calc(100% - 66px);
            position: relative;

            .order-title {
                h5 {
                    margin-bottom: 3px;
                    color: rgba(var(--dark-bg), 1);
                    font-size: 14px;
                    font-weight: 600;

                    span {
                        font-weight: 400;
                        font-size: 13px;
                        color: rgba(var(--dark-bg), 1);
                        position: relative;
                        margin-left: 20px;

                        @media (max-width:600px) {
                            margin-left: calc(12px + (20 - 12) * ((100vw - 320px) / (600 - 320)));
                        }

                        &::before {
                            @include pseudowh(4px, 4px);
                            content: "";
                            position: absolute;
                            background-color: rgba(var(--dark-bg), 1);
                            border-radius: 100%;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-left: -8px;
                        }
                    }
                }

                h6 {
                    color: rgba(var(--content-color), 1);
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            &::after {
                @include pos;
                left: 0;
                bottom: -25px;
                width: 100%;
                height: 1px;
                background-color: rgba(var(--bg-color), 1);
            }
        }


        &:last-child {
            .food-order-contant {
                &::after {
                    display: none;
                }
            }
        }
    }

    .read {
        background-color: rgba(var(--bg-color), 1);

        .bg-lighter-primary {
            @include pseudowh(50px, 50px);
            @include flex_center;
            z-index: 1;
            border-radius: 100%;
            background-color: rgba(var(--white), 1);

            body.dark-mode & {
                background-color: rgba(var(--second-color), 1);
            }

        }
    }

    &::after {
        @include pos;
        border-right: 1px solid rgba(var(--border-color), 0.6);
        height: 85%;
        top: 28px;
        left: 35px;

        [dir="rtl"] & {
            left: unset;
            right: 35px;
        }
    }


}

.food-coupon-section {
    li {
        margin-bottom: 20px;
        background-color: rgba(var(--bg-color), 1);
        box-shadow: 15px 15px 30px 0 rgba(var(--bg-color), 1);
        border-radius: 20px;

        .food-coupon-image {
            position: relative;

            .offer-text {
                position: absolute;
                top: 50%;
                color: rgba(var(--dark-bg), 1);
                font-size: 18px;
                font-weight: 700;
                transform: translateY(-50%);
                margin-left: 15px;

                [dir="rtl"] & {
                    left: 0;
                }

                @media (max-width:600px) {
                    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));

                }
            }
        }

        .food-coupon-box {
            padding: 15px;

            .food-coupon-pay {
                @include pseudowh(40px, 36px);
                background-color: rgba(var(--content-color), 0.1);
                border-radius: 6px;
                padding: 5px;
                display: flex;
                align-items: center;
            }

            .food-coupon-container {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 12px;

                .food-coupon-contant {
                    width: calc(100% - 26px - 10px);

                    h5 {
                        font-size: 14px;
                        font-weight: 600;
                        color: rgba(var(--dark-bg), 1);
                    }

                    span {
                        color: rgba(var(--green), 1);
                        font-size: 14px;
                        font-weight: 400;

                    }
                }

            }

            .list-unstyled {
                display: flex;
                flex-direction: column;
                margin-top: 8px;

                li {
                    background-color: transparent;
                    margin: 0;
                    box-shadow: none;
                    color: rgba(var(--dark-bg), 0.8);
                    font-weight: 500;
                    font-size: 14px;
                    padding-bottom: 5px;
                }

            }

            a {
                color: rgba(var(--theme-color), 1);
                font-size: 14px;
                font-weight: 700;
                text-decoration: underline;
                text-underline-offset: 6px;
                padding-bottom: 3px;
            }

            .apply {
                color: rgba(var(--content-color), 0.35);
                font-size: 14px;
                font-weight: 700;
                border-bottom: 1px solid rgba(var(--content-color), 0.35);
                padding-bottom: 2px;
            }

            .food-coupon-detail {
                font-size: 14px;
                font-weight: 400;
                color: rgba(var(--content-color), 1);
                padding-top: 12px;
                border-top: 1px dashed rgba(var(--border), 1);

                @media (max-width:600px) {
                    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (600 - 320)));
                }

                a {
                    color: rgba(var(--dark-bg), 1);
                    text-decoration: underline;
                    text-underline-offset: 3px
                }
            }

        }

    }
}

.ball-box {
    @include flex_center;
    margin-block: 100px;

    img {
        width: 234px;
        height: 217px;

        @media (max-width:600px) {
            width: calc(200px + (234 - 200) * ((100vw - 320px) / (600 - 320)));
            height: calc(190px + (217 - 190) * ((100vw - 320px) / (600 - 320)));
        }
    }
}

.ball-contant {
    text-align: center;
    margin-bottom: 20px;

    h5 {
        font-size: 18px;
        font-weight: 700;
        color: rgba(var(--dark-bg), 1);
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(var(--content-color), 1);
        line-height: 1.5;
    }
}

.address-list-box {
    .address-list {
        .address-box {
            width: calc(100% - 10px);
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 25px;
            padding: 14px 10px;
            background-color: rgba(var(--white), 1);
            box-shadow: 15px 15px 30px 0 rgba(var(--bg-color), 1);
            border-radius: 15px;

            body.dark-mode & {
                background-color: rgba(var(--bg-color), 1);
            }

            img {
                border-radius: 10px;
            }

            .address-list-contant {
                .address-name {
                    display: flex;

                    svg {
                        @include pseudowh(20px, 20px);
                        stroke: rgba(var(--dark-bg), 1);
                        fill: none;
                    }

                    h5 {
                        margin-left: 6px;
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(var(--dark-bg), 1);

                        [dir="rtl"] & {
                            margin-left: unset;
                            margin-right: 6px;
                        }
                    }
                }

                p {
                    @include text-ellipsis($line: 3);
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(var(--content-color), 1);
                }
            }
        }
    }
}

.wallet-banner {
    position: relative;

    img {
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }

    .wallet-total {
        position: absolute;
        top: 50%;
        margin-left: 15px;
        transform: translateY(-50%);
        color: rgba(var(--dark-bg), 1);

        [dir="rtl"] & {
            left: 0;
        }

        h5 {
            font-size: 14px;
            font-weight: 400;
        }

        h4 {
            font-size: 18px;
            font-weight: 700;
            margin-top: 4px;
        }
    }
}

.wallet-wrapper {
    li {
        padding: 15px 5px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(var(--border), 0.3);

        .wallet-content {
            font-size: 14px;

            h5 {
                font-weight: 500;
                color: rgba(var(--dark-bg), 1);
            }

            h6 {
                font-weight: 400;
                color: rgba(var(--content-color), 1);
                margin-top: 5px;
            }
        }

        .wallet-price {
            font-size: 14px;

            h6 {
                font-weight: 600;
                color: rgba(var(--dark-bg), 1);
            }

            .credit-title {
                font-weight: 500;
                color: rgba(var(--success-color), 1);
                margin-top: 5px;
            }

            .debit-title {
                font-weight: 500;
                color: rgba(255, 75, 75);
                margin-top: 5px;
            }
        }
    }
}

.food-cart-section {
    ul {
        li {
            width: 100%;
            background-color: rgba(var(--white), 1);
            box-shadow: 0 0 9.8px 1px rgba(var(--bg-color), 1);
            padding: 12px;
            display: flex;
            gap: 10px;
            border-radius: 13px;

            .dark-mode & {
                background-color: rgba(var(--bg-color), 1);
            }

            +li {
                margin-top: 18px;
            }

            a {
                @include pseudowh(73px, 73px);
                border-radius: 10px;
                overflow: hidden;

                img {
                    @include pseudowh;
                    object-fit: cover;
                    transition: all 0.2s ease-in-out;

                }
            }

            .food-cart-content {
                width: calc(100% - 10px - 73px);

                a {
                    transition: all 0.2s ease-in-out;
                    color: rgba(var(--title-color), 1);
                    font-size: 14px;
                    font-weight: 600;
                }

                h5 {
                    font-size: 13px;
                    font-weight: 400;
                    color: rgba(var(--content-color), 1);
                }

                .food-count {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;

                    .plus-minus {
                        margin: 0;
                        display: inline-flex;
                        align-items: center;
                        text-align: center;
                        padding: 4px 8px;
                        background-color: rgba(var(--white), 1);
                        border: 1px solid rgba(var(--theme-color), 1);
                        border-radius: 4px;

                        .dark-mode & {
                            background-color: rgba(var(--second-color), 1);
                            border-color: rgb(59, 59, 59);

                            input {
                                background-color: transparent;
                            }
                        }

                        .icon {
                            --Iconsax-Size: 16px;
                            --Iconsax-Color: rgba(var(--theme-color), 1);
                        }

                        input {
                            width: 35px;
                            color: rgba(var(--theme-color), 1);
                            border: none;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 1;
                            text-align: center;

                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }

                    .dollar {
                        color: rgba(var(--theme-color), 1);
                        font-size: 16px;
                        font-weight: 600;

                        [dir="rtl"] & {
                            margin-left: unset;
                            margin-right: auto;
                        }
                    }

                }

            }

            &:hover {
                .food-cart-content a {
                    color: rgba(var(--theme-color), 1);
                }

                a {
                    img {
                        transform: scale(1.1);
                    }
                }

            }

        }
    }
}

.theme-box {
    li {
        width: 100%;
        padding-bottom: 15px;

        +li {

            border-top: 1px solid rgba(var(--border-color), 1);
        }

        label {
            font-weight: 500;
            font-size: 14px;

            h6 {
                width: 100%;
            }
        }

    }
}

.order-success-section {
    .order-success-content {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 30px;
            font-weight: 600;
            color: rgba(var(--dark-bg), 0.9);

            @media (max-width:600px) {
                font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (600 - 320)));
            }
        }

        h5 {
            font-size: 14px;
            font-weight: 500;
            color: rgba(var(--content-color), 1);

            @media (max-width:600px) {
                font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (600 - 320)));
            }
        }
    }
}